node_modules
dist
.tmp
.sass-cache
bower_components
generated
app/vendor
app/redhat_access_angular_ui.js
*.swp
.idea
app/cases/views/*.html
app/ascension/views/*.html
!app/cases/views/compact.html
test/coverage
Gemfile.lock
app/assets/vendor
app/assets/css/main.min.*
app/assets/css/main.min.css
app/assets/css/main.min.css.map

