<div id="log_view_main" style="max-height: 500px;">
    <div class="container-offset">
        <x-rha-header page="logViewer"></x-rha-header>
    </div>
    <div class="row-fluid" ng-controller="logViewerController" ng-mouseup="enableDiagnoseButton()">
        <x-nav-side-bar></x-nav-side-bar>
        <div class=col-fluid>
            <x-recommendations></x-recommendations>
            <div class="col-fluid">
                <div ng-controller="TabsDemoCtrl" ng-class="{ showMe: solutionsToggle }">
                    <x-logs-instruction-pane></x-logs-instruction-pane>
                    <x-log-tabs></x-log-tabs>
                </div>
            </div>
        </div>
    </div>
</div>