<div id="log_view_main" style="max-height: 500px;">
    <div class="container-offset">
        <div rha-header page="logViewer"></div>
    </div>
    <div class="row-fluid" ng-controller="logViewerController" ng-mouseup="enableDiagnoseButton()">
        <div rha-navsidebar></div>
        <div class=col-fluid>
            <div rha-recommendations></div>
            <div class="col-fluid">
                <div ng-controller="TabsDemoCtrl" ng-class="{ showMe: solutionsToggle }">
                    <div rha-logsinstructionpane></div>
                    <div rha-logtabs></div>
                </div>
            </div>
        </div>
    </div>
</div>