<div class="panel panel-default logs-instruction-pane" ng-hide="tabs.length > 0" fill-down ng-style="{ height: windowHeight }" style="overflow:auto">
                        <div class="panel-body" >
                            <div>
                                <h2>Log File Viewer</h2>
                                <p>
                                    <h3>The log file viewer gives the ability to diagnose application logs as well as file a support case with Red Hat Global Support Services.
                                    </h3>
                            </div>
                            <div>
                                <br>
                                <h4>
                                    <span class="glyphicon glyphicon-refresh"></span>&nbsp;Select Log</h4>
                                <p>
                                    Simply navigate to and select a log file from the list on the left and click the 'Select File' button.

                            </div>
                            <div>
                                <br>
                                <h4>
                                    <span class="glyphicon glyphicon-search"></span>&nbsp;Diagnose
                                </h4>
                                <p>
                                    Once you have selected your log file then you may diagnose any part of the log file and clicking the 'Red Hat Diagnose' button. This will then display relevant articles and solutons from our Red Hat Knowledge base.

                            </div>
                            <div>
                                <br>
                                <h4>
                                    <span class="glyphicon glyphicon-plus"></span>&nbsp;Open a New Support Case
                                </h4>
                                <p>
                                    In the event that you would still like to open a support case, select 'Open a New Support Case'. The case will be pre-populated with the portion of the log previously selected.

                            </div>
                        </div>

                    </div>