<div tabset ng-show='tabs.length > 0'>
    <div tab active="tab.active" ng-repeat="tab in tabs">
        <div tab-heading>{{tab.shortTitle}}
            <a ng-click="removeTab($index)" href=''>
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <a popover="Click to refresh log file." popover-trigger="mouseenter" popover-placement="right" ng-click="refreshTab($index)">
                    <span class="glyphicon glyphicon-refresh"></span>
                </a>
                <h3 class="panel-title" style="display: inline">{{tab.longTitle}}</h3>
                <div class="pull-right" id="overlay" popover="Select text and click to perform Red Hat Diagnose" popover-trigger="mouseenter" popover-placement="left">
                    <button ng-disabled="isDisabled" id="diagnoseButton" type="button" class="btn btn-sm btn-primary diagnoseButton" ng-click="diagnoseText()" translate='' >Red Hat Diagnose</button>
                </div>
                <a class="tabs-spinner" ng-class="{ showMe: isLoading }">
                    <span class="rha-search-spinner"></span>
                </a>

                <br>
                <br>
            </div>
            <div class="panel-body" rha-filldown ng-style="{ height: windowHeight }">

                <pre id="resizeable-file-view" class="no-line-wrap">{{tab.content}}</pre>
            </div>
        </div>
    </div>
</div>
