<div class="col-xs-6 pull-right solutions" rha-filldown ng-style="{height: windowHeight }" ng-class="{ showMe: showSolutions }">
    <div id="resizeable-solution-view" rha-filldown class="resizeable-solution-view" ng-class="{ showMe: showSolutions }" ng-style="{height: windowHeight }" rha-accordionsearchresults='' opencase='true' ng-controller='SearchController'>
    </div>
    <a ng-click="toggleSolutions()">
        <span ng-class="{ showMe: showSolutions }" class="glyphicon glyphicon-chevron-left right-side-glyphicon"></span>
    </a>
</div>