.center {
	text-align: center;
}

.right {
	text-align: right;
}

.margin-top { @include rem('margin-top', $global-margin); }
.margin-top-short { @include rem('margin-top', $global-padding); }

.blue { color: #0083d2; }
.block { display: block; }

.row-align-bottom {

	@include media-query (sm) {
		& > [class^="col-"], & > [class*=" col-"] {
			display: table-cell;
			vertical-align: bottom;
			float: none;
		}
	}
}

.light { color: #808080; }
.inline { display: inline; }

.unavailable {
	@include rem('padding', 12px);
	background: red;
	color: #fff;
}

.normal { @include font-size(16px); }
.small { @include font-size(14px); }
.large {

}

.alert-slim {
	@include rem('margin', 20px 0);
	padding: 0;
}

.pre-wrap {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.margin-left {
	@include rem('margin-left', $global-padding);
}

.dialog-box, .comment blockquote.dialog-box {
	position: relative;
	@include rem('padding', $global-padding);
	border: 1px solid #ddd;

	&:before {
		content: '';
		position: absolute;
		left: -12px;
		top: 8px;
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-right: 12px solid #ddd;
	}

	&:after {
		content: '';
		position: absolute;
		left: -11px;
		top: 9px;
		border-top: 11px solid transparent;
		border-bottom: 11px solid transparent;
		border-right: 11px solid #fff;
	}
}

textarea { @include transition(.2s); }
textarea:hover { cursor: text; }

textarea.expanded {
	height: 300px;

	@include media-query (sm) {
		height: 500px;
	}
}