.center {
	text-align: center;
}

.right {
	text-align: right;
}

.blue { color: #0083d2; }
.block { display: block; }

.row-align-bottom {

	@include media-query (sm) {
		& > [class^="col-"], & > [class*=" col-"] {
			display: table-cell;
			vertical-align: bottom;
			float: none;
		}
	}
}

.light { color: #808080; }
.inline { display: inline; }

.unavailable {
	@include rem('padding', 12px);
	background: red;
	color: #fff;
}

.normal { @include font-size(16px); }
.small { @include font-size(14px); }
.large {

}

.alert-slim {
	@include rem('margin', 20px 0);
	padding: 0;
}

.pre-wrap {
	white-space: pre-wrap;
	word-wrap: break-word;
}

.margin-left {
	@include rem('margin-left', $global-padding);
}