// Grid settings
// -------------------------

$grid-columns:          12;
$main-sm-columns:       $grid-columns;
$sidebar-sm-columns:    4;


$base-vertical-pad: 30px;

// Brand colors
// -------------------------

$brand-gray: #4c4c4c;




$red: #c00;

$link-color: #0085cf;

$brand-primary:         #27ae60;

$blue_dark: #102c3b;
$blue_light: #9ac0de;
$blue: #03AFE8;

$gray: #ddd;

$btn-bg_default: gray;


// Glyphicons path
// -------------------------

$icon-font-path:        "../vendor/bootstrap-sass-official/assets/fonts/";


// Borders
//==================================================================*/
$border-gray: #cacaca;
//$border-gray: #ddd;



// Layout Settings
//==================================================================*/

// Media Queries
//--------------------------------------------------------------*/
$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$base_font_size: 16px;
$base_line_height: 22px;
$base_font_color: #333;
$base_color: #656870;
$base_font_family: 'Helvetica', sans-serif;


$line-height-computed:    floor(($base_font_size * $base_line_height)) !default; // ~20px


// Typography Settings
//==================================================================*/
$comment-font-size: 14px;


// Headings
//--------------------------------------------------------------*/
$header_font_weight: normal;
$header_font_style: normal;
$header_line_height: 1.3;
$header_top_margin: 5px;
$header_bottom_margin: 40px;
$header_text_rendering: optimizeLegibility;
$header_font_color: #252527;
$header_font_family: 'Times New Roman', Times, serif;

$h1_font_size: 20px;
$h2_font_size: 49px;
$h3_font_size: 20px;
$h4_font_size: 23px;
$h5_font_size: 18px;
$h6_font_size: 16px;


// Paragraphs
//--------------------------------------------------------------*/
$paragraph_font_weight: normal;
$paragraph_font_size: $base_font_size;
$paragraph_line_height: 24px;
$paragraph_margin_bottom: 20px;
$paragraph_text_rendering: optimizeLegibility;


// Links
//--------------------------------------------------------------*/
$link_text_decoration: none;


// Blockquotes
//--------------------------------------------------------------*/
$blockquote_padding: 10px 20px;
$blockquote_margin: 0 0 20px;


// Alerts Settings
//==================================================================*/
$alertbox_font_color: #fff;
$alertbox_margin: 16px;


// Media Settings
//==================================================================*/
$figure_background: #000;
$figure_margin: 0 0 16px;
$figure_opacity: .9;
$figure_opacity_hover: 1;


// Forms Settings
//==================================================================*/
$form_margin: 0 0 16px;


// Table Settings
//==================================================================*/
$table_cell_padding: 8px;
$table_cell_border: 1px solid $brand_primary;

// Row Settings
//==================================================================
$row_margin: 0 15px;
