div(style='display: inline-block; padding-right: 10px;')
  input#rha-account-number.form-control(style='width: 100%', ng-model='CaseService.account.number', ng-blur='populateAccountSpecificFields(CaseService.account.number)',
    ng-change='CaseService.sendCreationStartedEvent($event)',
    ng-disabled="!securityService.loginStatus.authedUser.is_internal")
span(ng-if='securityService.loginStatus.authedUser.is_internal', rha-bookmark-account, account='CaseService.account')
div(style='display: inline-block;')
  span.link(ng-click='selectUserAccount()', ng-hide='loadingAccountNumber', translate='') Find My Account Number
  .spinner.spinner-inline(ng-show='loadingAccountNumber') &nbsp;
.row.row-short
  div.col-xs-10.col-sm-5(ng-show="securityService.loginStatus.authedUser.is_internal")
      div(rha-bookmarked-accounts-select='', selected-account='CaseService.account.number', selected-account-changed='populateAccountSpecificFields(accountNumber)')
  div.col-xs-2.col-sm-1(ng-show="securityService.loginStatus.authedUser.is_internal")
      a.btn.btn-primary.btn-app.bookmark-view-button(ng-href='{{bookmarkAccountUrl}}', uib-tooltip='{{"Manage Bookmarked Accounts"|translate}}', tooltip-placement="top", tooltip-append-to-body="true")
        i.icon-star-empty
        i.icon-users
  div.col-xs-12.col-sm-6
    rha-managed-accounts-select(selected-account='CaseService.account.number',
    selected-account-changed='populateAccountSpecificFields(accountNumber)')
