div(style='display: inline-block; padding-right: 10px;')
  input.form-control(style='width: 100%', ng-model='CaseService.account.number', ng-blur='populateAccountSpecificFields()')
div(style='display: inline-block;')
  button.btn.btn-secondary(ng-click='selectUserAccount()', ng-hide='loadingAccountNumber') My Account
  span.rha-search-spinner(ng-show='loadingAccountNumber') &nbsp;
