div(style='display: inline-block; padding-right: 10px;')
  input#rha-account-number.form-control(style='width: 100%', ng-model='CaseService.account.number', ng-blur='populateAccountSpecificFields()')
div(style='display: inline-block;')
  button.btn.btn-secondary(ng-click='selectUserAccount()', ng-hide='loadingAccountNumber', translate='') My Account
  .spinner.spinner-inline(ng-show='loadingAccountNumber') &nbsp;
