.page-header(rha-header='', page='')
h1(ng-show='securityService.loginStatus.verifying || securityService.loginStatus.isLoggedIn') Advanced case search
a(href="https://access.redhat.com/articles/2390851#advanced_search", target="_blank") {{"Advanced Case Search User Guide" | translate}}
div.spinner(ng-show='securityService.loginStatus.verifying')
div(ng-if='securityService.loginStatus.isLoggedIn')
    div(rha-solr-query-input, solr-query="$parent.solrQuery", parse-successful="$parent.queryParsed", submit='$parent.doSearch()')
    hr
    #search-area
        .pull-right
            div.search-order(rha-filterselect='')
            button#search-button.btn.btn-app.btn-lg(ng-click="$parent.doSearch()", ng-disabled='!$parent.queryParsed || $parent.solrQuery === AdvancedCaseSearchService.query')
                i.glyphicon.glyphicon-search
                = ' Search'
        div(ng-show="!AdvancedCaseSearchService.searching && AdvancedCaseSearchService.query != null && AdvancedCaseSearchService.totalCases === 0")
            .alert.alert-warning No cases found.
        div(ng-show="AdvancedCaseSearchService.query != null && AdvancedCaseSearchService.cases.length > 0 && AdvancedCaseSearchService.totalCases != null")
            span(translate) Showing {{AdvancedCaseSearchService.cases.length}} out of {{AdvancedCaseSearchService.totalCases}} search results

    //TODO -- remove (ng-hide="RHAUtils.isEmpty(AdvancedCaseSearchService.cases)")
    #case-list.table-list.case-list
        // TODO -- Debugging through startFrom.js (which shows input as undefined) the cases is defined in scope.$parent.AdvancedSearchCaseService.cases.
        //  The startFrom.js however is repeatidly called from the ChatButton interval, not sure if that is the issue or not
        .list-item(ng-repeat='case in AdvancedSearchCaseService.cases | startFrom:AdvancedCaseSearchService.currentPage*AdvancedCaseSearchService.pageSize | limitTo:AdvancedCaseSearchService.pageSize track by $index')
            a(href='#/case/{{case.case_number}}')
                .row.case()
                    .col-sm-4.col-md-2.item-group
                        .block-icon
                            .severity
                                //a(href='https://access.redhat.com/knowledge/solutions/'{{DYNAMIC_VARIABLE}}, target='_blank') {{'(More info)'|translate}}
                                i.icon-severity.level1(ng-show='case.severity === "1 (Urgent)"') 1
                                i.icon-severity.level2(ng-show='case.severity === "2 (High)"') 2
                                i.icon-severity.level3(ng-show='case.severity === "3 (Normal)"') 3
                                i.icon-severity.level4(ng-show='case.severity === "4 (Low)"') 4
                            .case-id
                                .subheading {{case.case_number}}
                                .description {{case.status}}
                    .col-sm-8.col-md-6.item-group
                        .subheading
                            | {{case.summary}}
                        .description
                            | {{case.product}}
                            span
                            | &nbsp;{{case.version}}
                    .col-sm-12.col-md-2()
                        .item-group.change-log
                            .filed-on
                                span(translate) Created by {{case.created_by}} on {{case.created_date}}
                    .col-sm-12.col-md-2
                        .item-group.change-log
                            .filed-on
                                span(translate) Owned by {{case.contact_name}}
    div(ng-show="AdvancedCaseSearchService.searching")
        p.center
            span.spinner.spinner-inline
            span {{'Loading cases...'|translate}}
    //{{AdvancedSearchCaseService.currentPage+1}}/{{AdvancedSearchCaseService.numberOfPages()}}
    .row(ng-show='!AdvancedCaseService.searching && AdvancedCaseService.cases.length > 0')
        .col-sm-6
            .pull-left
                a.btn.btn-app.btn-sm(ng-disabled="AdvancedSearchCaseService.currentPage == 0", ng-click="AdvancedSearchCaseService.currentPage=AdvancedSearchCaseService.currentPage-1") Previous
        .col-sm-6
            .pull-right
                a.btn.btn-app.btn-sm(ng-disabled="AdvancedSearchCaseService.currentPage >= (AdvancedSearchCaseService.AdvancedCaseService.totalCases/AdvancedSearchCaseService.pageSize) - 1", ng-click="AdvancedSearchCaseService.currentPage=AdvancedSearchCaseService.currentPage+1") Next
