h4.section-header Attachments
div.container-fluid.side-padding
  div.row.side-padding
    div.col-xs-12.col-no-padding
      rha-list-attachments
  div.row.side-padding
    div.col-xs-12.col-no-padding.bottom-border(style='padding-bottom: 14px;')
      div(style='float: right')
        div(ng-hide='!AttachmentsService.updatingAttachments') Updating Attachments...
        button.btn.btn-primary(
          ng-hide='AttachmentsService.updatingAttachments',
          ng-click='AttachmentsService.updateAttachments(CaseService.case.case_number)') Update Attachments
  div.row
    div.col-xs-12
      rha-attach-local-file
