div.container-fluid
  div.row.create-field
    div.col-xs-6
      button.btn(style='float: left;', ng-click='getFile()') Attach local file
      div(style='height: 0px; width:0px; overflow:hidden;')
        input(id='fileUploader', type='file', value='upload', ng-change='selectFile(this)', ng-model='file')
    div.col-xs-6
      div(style='float: left; word-wrap: break-word; width: 100%;') {{fileName}}
  div.row.create-field
    div.col-xs-12(style='font-size: 80%;')
      span File names must be less than 80 characters. Maximum file size for web-uploaded attachments is 250 MB. Please FTP larger files to dropbox.redhat.com.&nbsp;
      span
        a(href='https://access.devgssci.devlab.phx1.redhat.com/knowledge/solutions/2112') (More info)
  div.row.create-field
    div.col-xs-12
      input.form-control(style='float: left;', placeholder='File description', ng-model='fileDescription')
  div.row.create-field
    div.col-xs-12
      button.btn(ng-disabled='fileName == NO_FILE_CHOSEN', style='float: right;', ng-click='addFile(fileUploaderForm)') Add

