div.container-fluid
  div.row.create-field
    div.col-xs-12
      div(style='padding-bottom: 4px;') Attach Foreman logs:
      select.form-control(multiple)
        option Log1
        option Log2
        option Log3
        option Log4
        option Log5
        option Log6
  div.row.create-field
    div.col-xs-12
      button.btn(ng-disabled='true', style='float: right;') Add
