div.container-fluid
  div.row.rha-create-field
    div.col-xs-12
      div(style='padding-bottom: 4px;') {{'Attach Foreman logs:'|translate}}
      select.form-control(multiple)
        option Log1
        option Log2
        option Log3
        option Log4
        option Log5
        option Log6
  div.row.rha-create-field
    div.col-xs-12
      button.btn(ng-disabled='true', style='float: right;', translate='') Add
