div(ng-show='showChat')
  iframe(style='display: none;' ng-src='{{chatHackUrl}}')
  button.btn.btn-primary#rha-livechat-enabled-button(style='display: none;'
    ng-click='openChatWindow()', translate=''  ) Chat with support
  button.btn.btn-secondary(style='display: none;' disabled , translate='')#rha-livechat-disabled-button Chat offline
