div(ng-show='securityService.loginStatus.isLoggedIn')
  button.btn.btn-primary#rha-livechat-enabled-button(
    ng-click='openChatWindow()', translate='') Chat with support
  button.btn.btn-secondary(disabled , translate='')#rha-livechat-disabled-button Chat offline
