div(ng-show='showChat')
  iframe(style='display: none;' ng-src='{{chatHackUrl}}')
  button.btn.btn-primary(ng-show='chatAvailable'
    ng-click='openChatWindow()', translate=''  ) Chat with support
  button.btn.btn-secondary(ng-show='!chatAvailable' disabled , translate='') Chat offline


