div(ng-repeat='comment in CaseService.comments', ng-if='!comment.draft')
  div(id="{{comment.id}}")
    article.comment
      h4
        span.author {{comment.created_by}}
        span.date.light  {{comment.created_date | date:'mediumDate'}}
        |  at
        time.light  {{comment.created_date | date:'h:mm:ss a Z'}}
      blockquote.comment
        div(style='white-space: pre-wrap;')
          | {{ comment.text}}

