doctype html
div#redhat-access-case
  div.container-fluid(ng-show='caseLoading')
    div.row
      div.col-xs-12
        div Loading...
  div.container-fluid(ng-hide='caseLoading')
    div.row
      div.col-xs-12
        rha-case-details(compact='true')
    div.row
      div.col-xs-12
        rha-case-description
    div.row
      div.col-xs-12
        rha-case-attachments
    div.row
      div.col-xs-12
        rha-case-comments(comments='comments')
