doctype html
div#redhat-access-case
  div.container-fluid(ng-show='caseLoading')
    div.row(style='margin-right: 0px;')
      div.col-xs-12
        span.rha-search-spinner
  div.container-fluid(
    ng-hide='caseLoading',
    rha-resizable,
    rha-dom-ready='domReady',
    style='overflow: auto; padding-left: 15px;border-top: 1px solid #dddddd; border-left: 1px solid #dddddd;')
    div.row(style='margin-right: 0px; padding-top: 10px;')
      div.col-xs-12
        rha-case-details(compact='true')
    div.row(style='margin-right: 0px;')
      div.col-xs-12
        rha-case-description
    div.row(style='margin-right: 0px;')
      div.col-xs-12
        rha-case-attachments
    div.row(style='margin-right: 0px;')
      div.col-xs-12
        rha-case-comments
