doctype html
div#redhat-access-case.container-offset
  rha-page-header(title='title')
  div.container-fluid.side-padding
    div.row
      div.col-xs-12
        rha-case-details(casejson='caseJSON', compact='true')
    div.row
      div.col-xs-12
        rha-case-description(description='caseJSON.description', creator='caseJSON.created_by')
    div.row
      div.col-xs-12
        rha-case-attachments(attachmentsjson='attachments', caseid='caseJSON.case_number')
    div.row
      div.col-xs-12
        rha-case-comments(comments='comments', caseid='caseJSON.case_number')
