.modal-header
  h3(translate='') Case severity was changed.
.modal-body
  .row
    .col-sm-12
      div {{'Are you sure you want to change this case severity to'|translate}} {{CaseService.kase.severity.name}}?
  .row(style='border-top: 1px; solid #cccccc; padding-top: 10px;')
    .col-sm-12
      .pull-right
        button.btn.btn-app(
          style='margin-left: 10px;',
          ng-click='closeCases()')
          span {{'Yes'|translate}}
        button.btn.btn-app(
          style='margin-left: 10px;',
          ng-click='closeModal()')
          span {{'No'|translate}}

