.modal-header
    h2(translate) Are you sure?
.modal-body.confirmation-modal
    span {{message}}
.modal-footer
    button.btn.btn-success(type="button", ng-click="$close()", translate) Yes
    button.btn.btn-danger.pull-left(type="button", ng-click="$dismiss()", translate) No
