.modal-header
    h1 Confirmed Stateside Support Account
.modal-body.confirmation-modal
    span Thanks for being a Red Hat Confirmed Stateside Support customer. Please visit your special customer portal here:
    a(target="_blank")  https://css-redhat.zendesk.com
    span , and can call us at 888-472-0031.
.modal-footer
    a.btn.btn-success(type="button", ng-click="closeModal()", ng-href="#/case/list", translate) Go To Case List
