section.filters
  .row
    .col-sm-4
      select(
        chosen,
        width="'100%'",
        name='status',
        ng-model='CaseService.kase.status',
        ng-options='s.name for s in CaseService.statuses track by s.name')
    .col-sm-4.inline-tooltip.right
      div(rha-severityselect='')
