h4.section-header Description
span.rha-search-spinner(ng-show='loading')
div.container-fluid.side-padding(ng-hide='loading')
  div.row
    div.col-md-2
      strong {{CaseService.case.created_by}}
    div.col-md-10 {{CaseService.case.description}}
