section.filters
  .row
    .col-sm-8
      p Filed on {{CaseService.kase.created_date | date:'MMM d, y h:mm:ss a Z'}} by {{CaseService.kase.contact_name}} | Assigned to {{CaseService.kase.owner}}, Red Hat Support
  .row
    .col-sm-8
      p {{CaseService.kase.entitlement.sla}} Support Level
  .row
    .col-sm-4
      select(
        chosen,
        width="'100%'",
        name='status',
        ng-model='CaseService.kase.status',
        ng-options='s.name for s in CaseService.statuses track by s.name')
    .col-sm-4.inline-tooltip.right
      div(rha-severityselect='')
