h4.rha-section-header(translate='') Description
span.rha-search-spinner(ng-show='loading')
div.container-fluid.rha-side-padding(ng-hide='loading')
  div.row
    div.col-md-2
      strong {{CaseService.kase.created_by}}
    div.col-md-10.pcmTextBlock {{CaseService.kase.description}}
