article.comment(id="{{element.id}}", ng-repeat="element in DiscussionService.discussionElements | orderBy:'last_modified_date':'reverse'", ng-if='!element.draft')
  h4.meta
    span.author.blue {{element.created_by}}
    date.light  {{element.created_date | date:'mediumDate'}}
    |  at
    time.light  {{element.created_date | date:'h:mm:ss a Z'}}
  blockquote.pre-wrap(ng-hide="element.file_name")
    | {{ element.text}}
  .fa.fa-file-image-o(ng-show="element.file_name") {{element.file_name}} ({{element.length | bytes}})
    .fa.fa-close.pull-right(type='button', style='float: right', ng-click='deleteAttachment(element)')
    blockquote#rha-case-attachement-fileDescription {{element.description}}