doctype html
div#redhat-access-case.container-offset
  x-rha-header(page='caseView')
  div.container-fluid.side-padding(ng-show='securityService.loginStatus.isLoggedIn')
    div.row
      div.col-xs-12
        rha-case-details(compact='false', loading='caseLoading')
    div.row
      div.col-xs-12
        rha-case-description(loading='caseLoading')
    div.row
      div.col-xs-12
        rha-case-attachments(loading='attachmentsLoading')
    div.row
      div.col-xs-12
        rha-case-recommendations(loading='recommendationsLoading')
    div.row
      div.col-xs-12
        rha-case-comments(loading='commentsLoading')
