doctype html
div#redhat-access-case.container-offset
  div(rha-header='', page='caseView')
  div.container-fluid.rha-side-padding(ng-show='securityService.loginStatus.isLoggedIn')
    div.row(ng-show='securityService.loginStatus.isLoggedIn && securityService.loginStatus.hasChat')
      div.pull-right
          div(rha-chatbutton='')
    div.row(ng-show='EDIT_CASE_CONFIG.showDetails')
      div.col-xs-12
        div(rha-casedetails='', compact='false', loading='loading.kase')
    div.row(ng-show='EDIT_CASE_CONFIG.showDescription')
      div.col-xs-12
        div(rha-casedescription='', loading='loading.kase')
    div.row(ng-show='EDIT_CASE_CONFIG.showBugzillas')
      div.col-xs-12
        div(rha-listbugzillas='', loading='loading.kase')
    div.row(ng-show='EDIT_CASE_CONFIG.showAttachments')
      div.col-xs-12
        div(rha-caseattachments='', loading='loading.attachments')
    div.row(ng-show='EDIT_CASE_CONFIG.showRecommendations')
      div.col-xs-12
        div(rha-caserecommendations='', loading='recommendationsLoading')
    div.row(ng-show='EDIT_CASE_CONFIG.showComments')
      div.col-xs-12
        div(rha-casecomments='', loading='loading.comments')
