div#redhat-access-case.container-offset
  div(rha-header='', page='editGroup' ng-controller='EditGroup')
  div.container-fluid.rha-side-padding
    div.row(style='padding-bottom: 20px;')
      div.container-fluid(style='padding-bottom: 20px;')
        div.col-xs-1 
          label Group Name: 
        div.col-xs-6
          input(type='text' ng-model='selectedGroup.name' ng-change="toggleGroupPrestine()" class='form-control') 
      span.rha-search-spinner(ng-show='usersLoading')
      div(ng-hide='usersLoading')
        div.row(style='padding-bottom: 20px;')
        div.col-xs-6
          div(rha-searchbox='', placeholder='"Search Users"')
        div.row(style='padding-bottom: 20px;')
        div.col-xs-12
          table.table.table-bordered.table-striped(
              ng-table='tableParams')
            thead(style='text-align: center')
              th
                label Read Access
                input(type='checkbox', style='width: 25px;', ng-model='masterReadSelected', ng-change='onMasterReadCheckboxClicked(masterReadSelected)')
              th
                label Write Access
                input(type='checkbox', style='width: 25px;', ng-model='masterWriteSelected', ng-change='onMasterWriteCheckboxClicked(masterWriteSelected)') 
              th.sortable(ng-class='{"sort-asc": table-params.isSortBy("sso_username", "asc"), "sort-desc": tableParams.isSortBy("sso_username", "desc")}', ng-click='tableParams.sorting({"sso_username": tableParams.isSortBy("sso_username", "asc") ? "desc" : "asc"})')
                div {{'User Name'|translate}}
              th.sortable(ng-class='{"sort-asc": table-params.isSortBy("first_name", "asc"), "sort-desc": tableParams.isSortBy("first_name", "desc")}', ng-click='tableParams.sorting({"first_name": tableParams.isSortBy("first_name", "asc") ? "desc" : "asc"})')
                div {{'First Name'|translate}}
              th.sortable(ng-class='{"sort-asc": table-params.isSortBy("last_name", "asc"), "sort-desc": tableParams.isSortBy("last_name", "desc")}', ng-click='tableParams.sorting({"last_name": tableParams.isSortBy("last_name", "asc") ? "desc" : "asc"})')
                div {{'Last Name'|translate}}
            tbody
              tr(ng-repeat='user in usersOnScreen')
                td(style='text-align: center; width: 25px;')
                  input(type='checkbox', ng-disabled='user.write || user.org_admin' ng-model='user.access' ng-change="toggleUsersPrestine()")
                td(style='text-align: center; width: 25px;')
                  input(type='checkbox', ng-disabled='user.org_admin' ng-model='user.write'  ng-change='writeAccessToggle(user)')
                td(data-title='"user.sso_username"', sortable='"sso_username"')
                  {{user.sso_username}}
                td(data-title='"user.first_name"', sortable='"first_name"')
                  {{user.first_name}}
                td(data-title='"lastName"', sortable='"last_name"')
                  {{user.last_name}}
          button.btn.btn-primary(ng-click='saveGroup()' ng-disabled='isGroupPrestine && isUsersPrestine', translate='') Save Group
          button.btn.btn-primary(ng-click='cancel()' ,translate='') Cancel