.page-header(rha-header='', page='')
div.edit(ng-show='securityService.loginStatus.isLoggedIn && !HeaderService.pageLoadFailure && CaseService.sfdcIsHealthy && securityService.loginStatus.userAllowedToManageCases')
  .row.row-very-short
    div.section.main.col-md-8
      .row.row-very-short
        h1.page-title(translate) CASE {{CaseService.kase.case_number}}
      .row.row-very-short(ng-if='securityService.loginStatus.authedUser.is_internal')
        span.label.label-mar-right.label-info(ng-show='CaseService.kase.hotfix_requested') {{'Hot Fix Requested'|translate}}
        span.label.label-mar-right.label-success(ng-show='CaseService.kase.hotfix_delivered') {{'Hot Fix Delivered'|translate}}
        span.label.label-mar-right.label-danger(ng-show='CaseService.account.is_special_handling_required') {{'Special Handling'|translate}}
      .row.row-very-short
        b {{CaseService.kase.summary}}
      .row.row-very-short
        span(id="rha-product-version") {{CaseService.kase.product}} {{CaseService.kase.version}}
      .row.row-very-short
        span(id="rha-case-filedOn" translate)  Filed on {{CaseService.kase.created_date}} by {{CaseService.kase.created_by}}
      .row.row-very-short
        span {{'Assigned to'|translate}} {{CaseService.kase.owner}}
      .row.row-very-short(ng-if='securityService.loginStatus.authedUser.is_internal')
        span(translate) Account number : {{CaseService.account.number}}
      .row.row-very-short(ng-if='securityService.loginStatus.authedUser.is_internal')
        span(translate) Account name : {{CaseService.account.name}}
        span(rha-bookmark-account, account='CaseService.account')
      .row.row-very-short
        a(href='/support/offerings/production/sla.html', target='_blank') {{CaseService.kase.entitlement.sla}} {{'Support Level'|translate}}
      .row.row-very-short(ng-show='EDIT_CASE_CONFIG.showDescription')
        div(rha-casedescription='', loading='loading.kase')
      .row.row-very-short(ng-show='EDIT_CASE_CONFIG.showDetails')
        div(rha-casedetails='', compact='false', loading='loading.kase')
          rha-casedetails
      section.case-discussion
        .row
          .col-xs-12(rha-emailnotifyselect='')

    .aside.col-md-4
      .spinner.spinner-inline(ng-show='RecommendationsService.loadingRecommendations')
      #rha-recommendation-section.recommendations.aside-section(rha-editcaserecommendations='', ng-hide='(RecommendationsService.recommendations.length === 0 && RecommendationsService.handPickedRecommendations.length === 0 && RecommendationsService.pinnedRecommendations.length === 0) || RecommendationsService.loadingRecommendations')
      div#case-escalation.case-escalation(rha-requestescalation='')
  .row
    .col-xs-12
      div(rha-casediscussion='', loading='loading.comments')
