div#redhat-access-case.container-offset(ng-show='!securityService.loginStatus.userAllowedToManageCases')
  div(rha-403error='')
div#redhat-access-case.container-offset(ng-show='failedToLoadCase && securityService.loginStatus.userAllowedToManageCases')
  div(rha-404error='')
div#redhat-access-case.container-offset(ng-hide='failedToLoadCase || !securityService.loginStatus.userAllowedToManageCases')
  span.rha-search-spinner(ng-show='loading.kase')
  div(rha-header='', page='caseView')
  div(ng-show='securityService.loginStatus.isLoggedIn && !failedToLoadCase && CaseService.sfdcIsHealthy')
    .row
      main.col-md-8(role='main')
        div(ng-show='EDIT_CASE_CONFIG.showDescription')
          div(rha-casedescription='', loading='loading.kase')
        div(ng-show='EDIT_CASE_CONFIG.showDetails')
          div(rha-casedetails='', compact='false', loading='loading.kase')
            rha-casedetails
        //- div.row(ng-show='EDIT_CASE_CONFIG.showBugzillas')
        //-   div.col-xs-12
        //-     div(rha-listbugzillas='', loading='loading.kase')
        section.case-discussion
          header
            h2 Case Discussion
          div(rha-emailnotifyselect='')
          .block
            textarea.comment(placeholder='Add a comment...', type='text', name='comment')
          div(ng-show='EDIT_CASE_CONFIG.showAttachments && securityService.loginStatus.authedUser.can_add_attachments')
            div(rha-caseattachments='', loading='loading.attachments')
          div(ng-show='EDIT_CASE_CONFIG.showComments')
            div(rha-casecomments='', loading='loading.comments')
      aside.col-md-4
        div(rha-newrecommendations='')
        section.case-escalation
          div
            h3
              | Need to raise a concern to Red Hat Support
              | management? 
              a.link(href='#') Learn More
          // <a href="#">Request escalation</a>
          a.btn.btn-light(href='#') Request escalation
