div(ng-show='securityService.loginStatus.isLoggedIn && !HeaderService.pageLoadFailure && CaseService.sfdcIsHealthy')
  .row
    section.main.col-md-8
      .page-header(rha-header='', page='caseView')
      div(ng-show='EDIT_CASE_CONFIG.showDescription')
        div(rha-casedescription='', loading='loading.kase')
      div(ng-show='EDIT_CASE_CONFIG.showDetails')
        div(rha-casedetails='', compact='false', loading='loading.kase')
          rha-casedetails
      section.case-discussion
        .row
          .col-xs-12
            h2.section-title Case Discussion
        .row
          .col-xs-12(rha-emailnotifyselect='')
        .row
          .col-xs-12(ng-show='EDIT_CASE_CONFIG.showAttachments && securityService.loginStatus.authedUser.can_add_attachments')
            div(rha-caseattachments='', loading='loading.attachments')
        .row
          .col-xs-12(ng-show='EDIT_CASE_CONFIG.showComments')
            div(rha-addcommentsection='', loading='loading.comments')
            div(rha-casecomments='', loading='loading.comments')
    aside.col-md-4
      section#rha-recommendation-section.recommendations(rha-editcaserecommendations='')
      section#case-escalation.case-escalation(rha-requestescalation='')