doctype html
div#redhat-access-case.container-offset
  x-rha-header-template(title='Edit Case')
  rha-page-header
  div.container-fluid.side-padding
    div.row
      div.col-xs-12(ng-hide='caseLoading')
        rha-case-details(compact='false')
      div.col-xs-12(ng-show='caseLoading')
        div Loading Details...
    div.row
      div.col-xs-12(ng-hide='caseLoading')
        rha-case-description
    div.row
      div.col-xs-12(ng-hide='attachmentsLoading')
        rha-case-attachments
      div.col-xs-12(ng-show='attachmentsLoading')
        div Loading Attachments...
    div.row
      div.col-xs-12(ng-hide='recommendationsLoading')
        rha-case-recommendations
      div.col-xs-12(ng-show='recommendationsLoading')
        div Loading Recommendations...
    div.row
      div.col-xs-12
        rha-case-comments
