.page-header(rha-header='', page='')
div(ng-hide='showCasePage()')
  .spinner.spinner-lg
  p.center {{'Loading Case...'|translate}}
div.edit(ng-if='showCasePage()')
  .row.row-very-short
    rha-secure-support-header()
    div.section.main(ng-class="{'col-sm-8': !$parent.COMMON_CONFIG.isGS4, 'col-sm-12': $parent.COMMON_CONFIG.isGS4}")
      .row.row-very-short
        h1.page-title(translate) CASE {{$parent.CaseService.kase.case_number}}
            small.partner-label.text-green.block(ng-if='$parent.isShowPartnerManagedCaseLabel()') {{'Case is managed by a partner'|translate}}
      .row.row-very-short(ng-if='$parent.securityService.loginStatus.authedUser.is_internal')
        span.label.label-mar-right.label-info(ng-show='$parent.CaseService.kase.hotfix_requested') {{'Hot Fix Requested'|translate}}
        span.label.label-mar-right.label-success(ng-show='$parent.CaseService.kase.hotfix_delivered') {{'Hot Fix Delivered'|translate}}
        span.label.label-mar-right.label-danger(ng-show='$parent.CaseService.account.is_special_handling_required') {{'Special Handling'|translate}}
        span.label.label-mar-right.label-info(ng-show='$parent.securityService.loginStatus.authedUser.is_internal && $parent.securityService.isCep && $parent.CaseService.kase.cep') {{'Consultant Engaged'|translate}}
      .row.row-very-short
        b {{$parent.CaseService.kase.summary}}
      .row.row-very-short
        span(id="rha-product-version") {{$parent.CaseService.kase.product}} {{$parent.CaseService.kase.version}}
      .row.row-very-short
        span(id="rha-case-filedOn" translate)  Filed on {{$parent.CaseService.kase.created_date}} by {{$parent.CaseService.kase.created_by}}
      .row.row-very-short
        span {{'Assigned to'|translate}} {{$parent.CaseService.kase.owner}}
        span &nbsp;
        span(ng-if='$parent.securityService.loginStatus.authedUser.is_internal && $parent.securityService.isCep').glyphicon.glyphicon-info-sign(uib-popover-html="ownerTooltip", popover-placement="right")
        a#cancelCaseDetailChanges.margin-left(ng-click="changeOwner()",translate='',
        ng-if='$parent.securityService.loginStatus.authedUser.is_internal && $parent.COMMON_CONFIG.isGS4') {{'Edit'|translate}}
      .row.row-very-short(ng-if='$parent.securityService.loginStatus.authedUser.is_internal || $parent.userHasManagedAccounts()')
        span(translate) Account number : {{$parent.CaseService.account.number}}
      .row.row-very-short(ng-if='$parent.securityService.loginStatus.authedUser.is_internal || $parent.userHasManagedAccounts()')
        span(translate) Account name : {{$parent.CaseService.account.name}}
        span(rha-bookmark-account, account='$parent.CaseService.account', ng-if='$parent.securityService.loginStatus.authedUser.is_internal && !$parent.COMMON_CONFIG.isGS4')
      .row.row-very-short
        a(ng-show='!$parent.CaseService.kase.isOpenShiftOnlineProduct' href='/support/offerings/production/sla.html', target='_blank') {{$parent.CaseService.kase.entitlement.sla}} {{'Support Level'|translate}}
        a(ng-show='$parent.CaseService.kase.isOpenShiftOnlineProduct' href='/support/offerings/openshift/sla.html', target='_blank') {{$parent.CaseService.kase.entitlement.sla}} {{'Support Level'|translate}}
      .row.row-very-short(ng-show='$parent.EDIT_CASE_CONFIG.showDescription')
        div(rha-casedescription='', loading='$parent.loading.kase')
      .row.row-very-short(ng-show='$parent.EDIT_CASE_CONFIG.showDetails')
        div(rha-casedetails='', compact='false', loading='$parent.loading.kase')
          rha-casedetails
      section.case-discussion(ng-if='$parent.securityService.loginStatus.authedUser.is_internal && $parent.securityService.isCep')
        .row
          .col-xs-4.col-sm-3.col-md-4
                .label {{::'Consultant Engaged'|translate}}
          .col-xs-4.col-sm-5.col-md-6(ng-show='$parent.CaseService.submittingCep')
                span.spinner.spinner-inline
          .col-xs-4.col-sm-5.col-md-6(ng-show='!$parent.CaseService.submittingCep')
                input(ng-model="CaseService.kase.cep",
                type="checkbox",
                ng-change="updateCEP(CaseService.kase.cep)"
                name="cepCheckbox")
                span &nbsp;
                span.glyphicon.glyphicon-info-sign.text-info(uib-tooltip="{{cepMessage}}")
      section.case-discussion(ng-if="!$parent.COMMON_CONFIG.isGS4")
        .row
          .col-xs-12(rha-emailnotifyselect='')
        .row(ng-if="$parent.securityService.loginStatus.authedUser.is_internal")
            .col-xs-12(rha-emailnotifyselect, internal="true")

    .aside.col-sm-4(ng-if="!$parent.COMMON_CONFIG.isGS4")
      .spinner.spinner-inline(ng-show='$parent.RecommendationsService.loadingRecommendations')
      #rha-recommendation-section.recommendations.aside-section(rha-editcaserecommendations='', ng-hide='($parent.RecommendationsService.recommendations.length === 0 && $parent.RecommendationsService.handPickedRecommendations.length === 0 && $parent.RecommendationsService.pinnedRecommendations.length === 0) || RecommendationsService.loadingRecommendations')
      div.aside-section.aside-section-escalation
        h3(ng-show='isShowRmeEscalationBox && !$parent.securityService.loginStatus.authedUser.is_internal'){{'Management Escalation'|translate}}
        div(ng-show='isShowRmeEscalationBox && !$parent.securityService.loginStatus.authedUser.is_internal', ng-repeat="escalation in CaseService.caseRMEEscalation")#case-escalation.recommendations(rha-showrmeescalation,rme-escalation="escalation", is-escalation-open="escalation.status !== 'Closed'")
      div(ng-show='isCreateRmeEscalationBox || $parent.securityService.loginStatus.authedUser.is_internal')#case-escalation.case-escalation(rha-requestescalation='')
  .row
    .col-xs-12
      div(rha-casediscussion='', loading='$parent.loading.comments')
