.page-header(rha-header='', page='')
div(ng-show='securityService.loginStatus.isLoggedIn && !HeaderService.pageLoadFailure && CaseService.sfdcIsHealthy && securityService.loginStatus.userAllowedToManageCases')
  .row
    div.section.main.col-md-8
      h1.page-title(translate) CASE {{CaseService.kase.case_number}}
      div
        span(translate)  Filed on {{CaseService.kase.created_date}} by {{CaseService.kase.contact_name}}
        span.sep |
        | {{'Assigned to'|translate}} {{CaseService.kase.owner}}
      div(ng-if='securityService.loginStatus.authedUser.is_internal')
        span(translate) Account number : {{securityService.loginStatus.account.number}}
        &nbsp;&nbsp;&nbsp;
        span(translate) Account name : {{securityService.loginStatus.account.name}}
      a(href='/support/offerings/production/sla.html', target='_blank') {{CaseService.kase.entitlement.sla}} {{'Support Level'|translate}}      
      div(style="margin-top:15px;", ng-show='EDIT_CASE_CONFIG.showDescription')
        div(rha-casedescription='', loading='loading.kase')
      div(ng-show='EDIT_CASE_CONFIG.showDetails')
        div(rha-casedetails='', compact='false', loading='loading.kase')
          rha-casedetails
      section.case-discussion
        .row
          .col-xs-12(rha-emailnotifyselect='')
        .row
          .col-xs-12
            div(rha-casediscussion='', loading='loading.comments')
    .aside.col-md-4
      .spinner.spinner-inline(ng-show='RecommendationsService.loadingRecommendations')
      #rha-recommendation-section.recommendations.aside-section(rha-editcaserecommendations='', ng-hide='(RecommendationsService.recommendations.length === 0 && RecommendationsService.handPickedRecommendations.length === 0 && RecommendationsService.pinnedRecommendations.length === 0) || RecommendationsService.loadingRecommendations')
      .section#case-escalation.case-escalation.aside-section(rha-requestescalation='')
