div(rha-selectloadingindicator='', loading='CaseService.entitlementsLoading', type='select2')
  select#rha-entitlement-select(
    ui-select2,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.entitlement',
    ng-change='CaseService.onSelectChanged()',
    style='width: 100%')
    option(ng-repeat='entitlement in CaseService.entitlements')
      {{entitlement}}
