label Group
x-rha-select-loading-indicator(loading='groupsLoading', type='select2')
  select(
    ui-select2,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.group',
    ng-change='CaseService.onSelectChanged()',
    multiple,
    style='width: 100%')
    option(ng-repeat='group in CaseService.groups' value='{{group.number}}') {{group.name}}
