
div#redhat-access-case.container-offset
  x-rha-header(page='manageGroups')
  div.container-fluid.side-padding(ng-show='securityService.loginStatus.isLoggedIn')
    div.row(style='padding-bottom: 20px;')
      div.col-xs-6
        x-rha-search-box(placeholder='"Search Groups"')
      div.col-xs-6
        x-rha-create-group-button.pull-right
        x-rha-delete-group-button.pull-right(style='padding-right: 20px;')
    div.row
      div.col-xs-12
        x-rha-group-list
