div#redhat-access-case.container-offset(ng-show='!securityService.loginStatus.userAllowedToManageCases')
  div(rha-403error='')
div#redhat-access-case.container-offset(ng-hide='!securityService.loginStatus.userAllowedToManageCases')
  div(rha-header='', page='manageGroups')
  div.container-fluid.rha-side-padding(ng-hide='!CaseService.sfdcIsHealthy')
    div.row(style='padding-bottom: 20px;')
      div.col-xs-4
        div(rha-searchbox='', placeholder='"Search Groups"')
      div.col-xs-8
        div.pull-right(rha-creategroupbutton='')
        div.pull-right(rha-deletegroupbutton='', style='padding-right: 20px;')
        div.pull-right(style='padding-right: 20px;')
         button.btn.btn-primary.btn-slim.btn-small(type="button" translate='' ng-show='securityService.loginStatus.authedUser.org_admin' ng-click='defaultCaseGroup()') Manage Default Case Groups
    div.row
      div.col-xs-12
        div(rha-grouplist='')
