div(ng-show='attachments.length == 0') No attachments added
table.table.table-hover.table-bordered(ng-show='attachments.length > 0')
  thead
    th Filename
    th Description
    th Size
    th Attached
    th Attached By
    th Delete
  tbody
    tr(ng-repeat='attachment in attachments')
      td
        a(ng-hide='attachment.uri == null', href='{{attachment.uri}}') {{attachment.file_name}}
        div(ng-show='attachment.uri == null') {{attachment.file_name}}
      td {{attachment.description}}
      td {{attachment.length | bytes}}
      td {{attachment.created_date | date:'medium'}}
      td {{attachment.created_by}}
      td
        a(ng-click='removeAttachment()') Delete
