div(rha-header='', page='caseList')
.rha-page-header(ng-show='securityService.loginStatus.isLoggedIn && !HeaderService.pageLoadFailure && CaseService.sfdcIsHealthy')
  .row(ng-hide='!CaseService.sfdcIsHealthy')
    .col-sm-8(rha-listfilter='')
    .col-sm-4
      .actions
        a.btn.btn-info.btn-xs(href='#/case/new') Create a New Support Case
        a.btn.btn-info.btn-xs(translate='', ng-click='closeCases()', ng-disabled='!caseChosen()') Close Cases
  .row(ng-hide='!CaseService.sfdcIsHealthy || SearchCaseService.cases.length == 0')
    .col-sm-12.col-md-9
      div {{SearchCaseService.totalCases}} Open Support Cases 
      a.href(ng-click='exports()', ng-disabled='exporting || ie8 || ie9', translate='') Export as CSV
    .col-sm-12.col-md-3
      p Sort By
      div(rha-filterselect='')
  .alert.alert-slim(ng-show='SearchCaseService.cases.length == 0 && !SearchCaseService.searching && securityService.loginStatus.isLoggedIn') {{'No cases found with given filters.'|translate}}
  #case-list.table-list.case-list(infinite-scroll='SearchCaseService.doFilter()', infinite-scroll-disabled='SearchCaseService.searching || SearchCaseService.allCasesDownloaded', infinite-scroll-distance='5')
    .list-item(ng-repeat='case in SearchCaseService.cases')
      input(type="checkbox", ng-model='case.selected')
      .row.case(ng-click='caseLink(case.case_number)')
        .col-sm-4.col-md-2.item-group
          .block-icon
            .severity
              //a(href='https://access.redhat.com/knowledge/solutions/'{{DYNAMIC_VARIABLE}}, target='_blank') {{'(More info)'|translate}}
              i.icon-severity.level1(ng-show='case.severity === "1 (Urgent)"') 1
              i.icon-severity.level2(ng-show='case.severity === "2 (High)"') 2
              i.icon-severity.level3(ng-show='case.severity === "3 (Normal)"') 3
              i.icon-severity.level4(ng-show='case.severity === "4 (Low)"') 4
            .case-id
              a.subheading {{case.case_number}}
              div.status.small {{case.status}}
        .col-sm-8.col-md-6.item-group
          a.subheading
            | {{case.product}}
            span.sep |
            | {{case.version}}
          .description.small
            | {{case.summary}}
        .col-sm-12.col-md-4(ng-show='CaseService.filterSelect.sortField === "lastModifiedDate"')
          .item-group.change-log
            .filed-on
              | Last Modified: 
              span {{case.last_modified_date | date:'longDate'}}
              i  by 
              span.blue {{case.last_modified_by}}
        .col-sm-12.col-md-4(ng-hide='CaseService.filterSelect.sortField === "lastModifiedDate"')
          .item-group.change-log
            .filed-on
              | Created: 
              span {{case.created_date | date:'longDate'}}
              i  by 
              span.blue {{case.created_by}}
  div(ng-show='SearchCaseService.searching')
    .spinner
    p.center Loading cases...
    //.backdrop

