.row
  .filters
    div.col-sm-12.col-md-4(rha-searchbox='', placeholder="'Search'|translate")
    div.col-sm-12.col-md-4(rha-groupselect='', ng-init="setSearchOptions(true)")
    div.col-sm-12.col-md-4(rha-statusselect='')