.row.filters
  div.col-sm-12.col-md-3(rha-searchbox='', placeholder="'Search'|translate")
  div.col-sm-12.col-md-3(rha-groupselect='')
  div.col-sm-12.col-md-3(rha-statusselect='')
  div.col-sm-12.col-md-3(rha-filterselect='')