div.row.filters
  div.col-sm-12.col-md-3
    input(type='text', placeholder='Type to Filter')
  div.col-sm-12.col-md-3(rha-groupselect='')
  div.col-sm-12.col-md-3(rha-statusselect='')
  div.col-sm-12.col-md-3(rha-filterselect='')
