div.rha-attachments-section(ng-show='AttachmentsService.originalAttachments.length == 0', style='padding-bottom: 10px;') {{'No attachments added'|translate}}
div.panel.panel-default(ng-show='AttachmentsService.originalAttachments.length > 0')
  div.panel-heading {{'Attached Files'|translate}}
  table.table.table-hover.table-bordered
    thead
      th(translate,translate-comment="Noun") Filename
      th(translate,translate-comment="Noun") Description
      th(translate,translate-comment="Noun") Size
      th(translate,translate-comment="Noun Attached here means Attached on a particular date") Attached
      th(translate,translate-comment="Noun") Attached By
      th(translate,translate-comment="Verb") Delete
    tbody
      tr(ng-repeat='attachment in AttachmentsService.originalAttachments')
        td
          a(ng-hide='attachment.uri == null', href='{{attachment.uri}}') {{attachment.file_name}}
          div(ng-show='attachment.uri == null') {{attachment.file_name}}
        td {{attachment.description}}
        td {{attachment.length | bytes}}
        td {{attachment.created_date | date:'medium'}}
        td {{attachment.created_by}}
        td
          ///Verb
          div(ng-show='disabled') {{'Delete'|translate}}
          ///Verb
          a(ng-click='AttachmentsService.removeOriginalAttachment($index)', ng-hide='disabled') {{'Delete'|translate}}
