
div#redhat-access-case(ng-show='!securityService.loginStatus.userAllowedToManageCases')
  div(rha-403error='')
div#redhat-access-case(ng-hide='!securityService.loginStatus.userAllowedToManageCases')
  div(rha-header='', page='caseList')
  div.row(ng-show='!securityService.loginStatus.userAllowedToManageCases && securityService.loginStatus.isLoggedIn && CaseService.sfdcIsHealthy')
    div {{'User does not have permissions to manage cases.'|translate}}
  div.row.row-align-bottom(ng-hide='!CaseService.sfdcIsHealthy')
    div.col-sm-8(rha-listfilter='')
    div.col-sm-4
      div.actions
        a.btn.btn-blue(href='new-case.php') Create a New Support Case
        div(rha-exportcsvbutton='')
  
  div(ng-show='SearchCaseService.cases.length == 0 && !SearchCaseService.searching && securityService.loginStatus.isLoggedIn') {{'No cases found with given filters.'|translate}}
  div#case-list.table-list.case-list
      div.list-item(ng-repeat='case in SearchCaseService.cases')
        div.row
          div.col-sm-5.col-md-3.item-group
            div.block-icon
              div.severity
                i.fa.fa-beer.icon.severity-level1
              div.case-id
                b {{case.case_number}}
              div.status.light
                span {{case.status}}
          div.col-sm-7.col-md-5.item-group
            div
              b
                | {{case.product}}
                span.sep |
                | {{case.version}}
            div.description.light
              | {{case.description}}
              //- a.fa.fa-comments(href='#')
              //-   span.count 2
              //-Field does not exist
          div.col-sm-12.col-md-4
            div.item-group.change-log
              div.filed-on
                | Last Modified: 
                b {{case.comments.comment[0].last_modified_date | date:'longDate'}}
                i  by 
                a(href='#') {{case.last_modified_by}}
