div.row
  div.col-md-6
    div(rha-searchbox='', placeholder="'Search'|translate")
  div.col-md-3
    div
      span.glyphicon.glyphicon-question-sign.pull-right(
        popover="{{'Filtering by case groups helps you find related cases.'|translate}}",
        tabindex='0',
        popover-append-to-body='true',
        popover-trigger='mouseenter')
      div(rha-groupselect='', ng-init="setSearchOptions(true)")
  div.col-md-3
    div(rha-statusselect='')
