span.spinner.spinner-inline(ng-show='ManageGroupsService.groupsLoading')
span(ng-show='ManageGroupsService.groupsLoading') {{'Groups Loading...'|translate}}
div(ng-show='!ManageGroupsService.groupsLoading && ManageGroupsService.groupsOnScreen.length < 1') {{'No groups found.'|translate}}
#list-group-case.list-group.list-group-case.ng-isolate-scope(ng-hide='ManageGroupsService.groupsLoading')
  .list-item.list-title
    .action-icon {{'Case Groups'|translate}}
      a(ng-click='addNewGroup()', ng-show='!showCreateGroup', translate='')
        i.fa.fa-plus.pull-right
      a(ng-click='addNewGroup()', ng-show='showCreateGroup', translate='')
        i.fa.fa-minus.pull-right
  .list-item.list-title.list-group-input-group(ng-show='showCreateGroup')
    .input-group
      input.form-control(type='text', ng-model='ManageGroupsService.newGroupName', placeholder='Untitled Case Group')
      span.input-group-btn
        button.btn.btn-app(ng-click='createGroup()', translate='') Create
  div.overflowProperties
      .list-item.with-actions(ng-repeat='group in ManageGroupsService.groupsOnScreen',ng-class='selectedGroup(group)')
       div(ng-click='fetchGroupDetails(group)', ng-href='', ng-hide='group.renameCaseGroup || group.deleteCaseGroup') {{group.name}}
       .menu-subcontext
          a.action-icon(ng-click='toggleActiveButton(group)', ng-blur='toggleActiveButton(group)')
            i.fa.fa-cog
            i.fa.fa-caret-down
          ul.dropdown(ng-class='{"active": group.active}')
            li(ng-repeat='action in actionOptions', ng-click='groupAction(group,action.value)') {{action.label}}
        div(ng-show='group.renameCaseGroup')
          input.form-control(type='text', ng-model='group.name',ng-disabled="group.updatingDetails")
        div.margin-top-short(ng-show='group.renameCaseGroup')
          button.btn.btn-app(ng-click='renameGroup(group)',ng-disabled="group.updatingDetails || group.name.length===0") Rename
          button.btn-link.margin-left(ng-click='cancel(group)',ng-disabled="group.updatingDetails") Cancel
        div(ng-show='group.deleteCaseGroup') {{group.name}}
        div.margin-top-short(ng-show='group.deleteCaseGroup')
          button.btn.btn-primary.btn-sm(ng-click='deleteGroup(group)') Delete
          a.margin-left(ng-click='cancel(group)') Cancel
