#rha-recommendation-section.recommendations(ng-hide='RecommendationsService.recommendations.length === 0')
  .panel-heading
    h4.panel-title
      span.inline() {{'Based on your description, here are some possible solutions'|translate}}
      .spinner.spinner-sm.spinner-inline(ng-show='searchInProgress.value')
      span(ng-show='searchInProgress.value') {{'Updating Recommendations'|translate}}
  .panel-body
    ul
      li(ng-show='RecommendationsService.recommendations.length', ng-repeat="result in results")
        article
          header.title
            a(ng-click='triggerAnalytics($event)', href='{{result.resource_view_uri}}', target='_blank')
              strong {{result.title | substring:100 }}
          p.article-content
            a(style="word-wrap: break-word;", ng-click='triggerAnalytics($event)', href='{{result.resource_view_uri}}', target='_blank', ng-bind-html='result.abstract')
  .pagination
    .pull-right
      button.btn.btn-secondary.btn-slim(ng-hide="currentPage == 1", ng-click="selectPage(currentPage - 1)") {{'BACK'|translate}}
      button.btn.btn-app.btn-slim(ng-hide="currentPage == lastPage", ng-click="selectPage(currentPage + 1)") {{'NEXT'|translate}}
