#rha-recommendation-section.recommendations.recommendations-inline(ng-hide='RecommendationsService.recommendations.length === 0')
  h3
    span.inline() Based on your description, here are some possible solutions
    .spinner.spinner-sm.spinner-inline(ng-show='searchInProgress.value')
    span(ng-show='searchInProgress.value') Updating Recommendations
  .row()
    .col-sm-4(ng-show='RecommendationsService.recommendations.length', ng-repeat="result in results")
      article
        header
          a
            strong(ng-click='triggerAnalytics($event)', href='{{result.resource_view_uri}}', target='_blank') {{result.title | substring:100 }}
        p.article-content
          a(style="word-wrap: break-word;", ng-click='triggerAnalytics($event)', href='{{result.resource_view_uri}}', target='_blank', ng-bind-html='result.abstract')
    a.carousel-nav.prev.fa.fa-chevron-left(ng-hide="currentPage == 1", ng-click="selectPage(currentPage - 1)")
    a.carousel-nav.next.fa.fa-chevron-right(ng-hide="currentPage == lastPage", ng-click="selectPage(currentPage + 1)")
