div#rha-owner-select
  label Owner
  x-rha-select-loading-indicator(loading='ownersLoading', type='select2')
    select(
      ui-select2,
      ng-disabled='!securityService.loginStatus.isLoggedIn',
      ng-model='CaseService.owner',
      ng-change='CaseService.onSelectChanged()',
      style='width: 100%')
      option(ng-repeat='owner in CaseService.owners') 
        {{owner.sso_username}}
