div#rha-owner-select
  x-rha-select-loading-indicator(loading='CaseService.usersLoading', type='select2')
    select(
      ui-select2,
      ng-disabled='!securityService.loginStatus.isLoggedIn',
      ng-model='CaseService.owner',
      ng-change='CaseService.onOwnerSelectChanged()',
      style='width: 100%')
      option(ng-repeat='user in CaseService.users') 
        {{user.sso_username}}
