div.pull-right.pagination-padding.pagination-grid
  button.btn.btn-primary.btn-app(ng-disabled='isBackBtnDisabled()', ng-click='goBack()') Previous
  div.page-tracker {{getCurrentPage()}} / {{numberOfPages()}}
  button.btn.btn-primary.btn-app(ng-disabled='isForwardBtnDisabled()', ng-click='goForward()') Next
