x-rha-select-loading-indicator(loading='productsLoading', type='select2')
  select(
    ui-select2,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.product',
    ng-change='CaseService.onSelectChanged()',
    style='width: 100%')
    option(ng-repeat='product in CaseService.products') {{product.name}}
