h3.section-title {{'Need to raise a concern to Red Hat Support management?'|translate}}
  a.link(href='/support/policy/mgt_escalation', target='_blank', style='margin-left:8px') {{'Learn More'|translate}}
a.btn.btn-accent(ng-click='requestManagementEscalation()',translate='') Request escalation
