x-rha-select-loading-indicator(loading='severitiesLoading', type='select2')
  select(
    ui-select2,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.severity',
    ng-change='CaseService.onSelectChanged()',
    style='width: 100%')
    option(ng-repeat='severity in CaseService.severities') {{severity.name}}
