label(for='rha-case-search_status') Status
div(style='display: block')
  select(
    ui-select2,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.status',
    ng-change='CaseService.onSelectChanged()',
    style='width: 100%')
    option(ng-repeat='status in statuses', value='{{status.value}}') {{status.name}}
