x-rha-select-loading-indicator(loading='typesLoading', type='select2')
  select(
    ui-select2,
    ng-disabled='!securityService.loginStatus.isLoggedIn',
    ng-model='CaseService.type',
    ng-change='CaseService.onSelectChanged()',
    style='width: 100%')
    option(ng-repeat='type in CaseService.types') {{type.name}}
