/* Margin helpers */

/* No margin */
.margin-0 { margin: 0 }
/* Margin small */
.margin-s { margin: .33em }
/* Margin medium */
.margin-m { margin: .66em }
/* Margin large */
.margin-l { margin: 1em }

.margin-t-0 { margin-top: 0 }
.margin-r-0 { margin-right: 0 }
.margin-b-0 { margin-bottom: 0 }
.margin-l-0 { margin-left: 0 }

.margin-t-s { margin-top: .33em }
.margin-b-s { margin-bottom: .33em }
.margin-r-s { margin-right: .33em }
.margin-l-s { margin-left: .33em }

.margin-t-m { margin-top: .66em }
.margin-b-m { margin-bottom: .66em }
.margin-r-m { margin-right: .66em }
.margin-l-m { margin-left: .66em }

.margin-t-l { margin-top: 1em }
.margin-b-l { margin-bottom: 1em }
.margin-r-l { margin-right: 1em }
.margin-l-l { margin-left: 1em }

/* Padding helpers */

/* No padding */
.pad-0 { padding: 0 }
/* Padding small */
.pad-s { padding: .33em }
/* Padding medium */
.pad-m { padding: .66em }
/* Padding large */
.pad-l { padding: 1em }

.pad-t-0 { padding-top: 0 }
.pad-r-0 { padding-right: 0 }
.pad-b-0 { padding-bottom: 0 }
.pad-l-0 { padding-left: 0 }

.pad-t-s { padding-top: .33em }
.pad-b-s { padding-bottom: .33em }
.pad-r-s { padding-right: .33em }
.pad-l-s { padding-left: .33em }

.pad-t-m { padding-top: .66em }
.pad-b-m { padding-bottom: .66em }
.pad-r-m { padding-right: .66em }
.pad-l-m { padding-left: .66em }

.pad-t-l { padding-top: 1em }
.pad-r-l { padding-right: 1em }
.pad-b-l { padding-bottom: 1em }
.pad-l-l { padding-left: 1em }

/* Padding small left :: right */
.pad-s-x {
 padding-left: .33em;
 padding-right: .33em;
}
/* Padding medium left :: right */
.pad-m-x {
 padding-left: .66em;
 padding-right: .66em;
}
/* Padding large left :: right */
.pad-l-x {
 padding-left: 1em;
 padding-right: 1em;
}
/* Padding small top :: bottom */
.pad-s-y {
 padding-top: .33em;
 padding-bottom: .33em;
}
/* Padding medium top :: bottom */
.pad-m-y {
 padding-top: .66em;
 padding-bottom: .5em;
}
/* Padding large top :: bottom */
.pad-l-y {
 padding-top: 1em;
 padding-bottom: 1em;
}

@media (min-width: 992px) {
    .portal-content-area #main.container {
        width: 95% !important;
    }
}
