
li.rha-treeselector-node  {
    list-style-type: none;
}

.rha-treeselector-node .icon {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
}
.rha-treeselector-node .expanded {
    background-image: url(../img/expanded.png);
}
.rha-treeselector-node .collapsed {
    background-image: url(../img/collapsed.png);
}

.rha-treeselector-node .label {
    color: black;
    font-size: 100%;
    font-weight: normal;
    padding-left: 2px;
}

input[type="checkbox"] {
   margin:4px 4px 0;
}