.case-list {

	.case-id {
		a {
			color: #333;
		}
	}

	.case {
	}

	.subheading {
		@include font-size(16px);
		line-height: 1;
		font-weight: 500;
		margin-bottom: 8px;
		display: block;
	}

	.description {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}