.case-discussion {

	h1,
	h2,
	h3,
	h4 {
		font-weight: 600;
		margin: 0;
		text-transform: none;
	}

	.comment {
		textarea { min-height: 250px; }
		& + .comment { @include rem('margin-top', $global-margin); }
		.meta { @include rem('margin-bottom', $global-padding); }
		.comment { @include rem('padding-left', 28px); }
		.private { color: red; }
		blockquote { margin-bottom: 0; }
	}

	.tab-pane {
		padding: 0;
	}

    .label {
        display: block;
        padding: 0;
        font-weight: 700;
        text-align: left;
        @include font-size(13px);
        color: $base_font_color;
    }
}
