.case-new {
	.config-options{
		label{
			margin: 15px 0 0;
		}
		input{
			margin: 5px 0 0;
		}
		div{
			margin: 5px 0 0;
		}
		textarea{
			margin: 5px 0 0;
		}
	}
	.rha-case-more-options{
		label{
			margin: 15px 0 0;
		}
		input{
			margin: 5px 0 0;
		}
		div{
			margin: 5px 0 0;
		}
		.glyphicon-question-sign{
		    margin-left: 5px;
		}
	}
}