$escalation-background: $recommendations-background;
$escalation-title-background: $recommendations-title-background;
$escalation-title-color: $header_font_color;
$escalation-paragraph-color: #4D4D4D;

$escalation-padding: $recommendations-padding;
$escalation-link-size: $recommendations-link-size;

.case-escalation {
//	position: relative;
	color: $escalation-paragraph-color;
//	@include font-size(14px);
	border: 1px solid #ddd;

	h1,
	h2,
	h3,
	h4 {

	}

	.title {
		margin-bottom: 20px;
		font-weight: 100;
		@include font-size(28px);
	}

	p {
		@include rem('margin-bottom', 28px);
	}

	.btn {
		width: 100%;
	}
}