.case-description-toggle {
	position: absolute;
	right: 30px;
	color: $red;
	@include font-size(24px);
	@include transition(.2s);

	&:hover {
		cursor: pointer;
		color: darken(red, 20);
	}

	&.active {
		@include transition(.5s "easeOut");
		@include transform(rotate(180deg));
		color: lighten($base_font_color, 20);

		&:hover {
			color: lighten($base_font_color, 30);
		}
	}
}