.case-discussion {

	h1,
	h2,
	h3,
	h4 {
		font-weight: 600;
		margin: 0;
		text-transform: none;
	}

	.comment {
		@include rem('margin-bottom', 30px);

		.meta {
			@include rem('margin-bottom', 15px);
		}

		.comment {
			@include rem('padding-left', 28px);
		}
	}
}