.edit {
	@include font-size(14px);

	.page-title{
		color: #333;
        .partner-label {
            font-weight: 500;
            margin-top: 5px;
            text-transform: none;
        }
	}

    .bookmark-icon {
        margin-left: 5px;
    }

    .share-btn {
        margin-left: 10px;
      }
      
    .share-with-partner {
        display: flex
    }
    .search-partner-input {
        display: inline-block;
        flex: 1;
        width: 80%;
    }
}
