.filters {
	@include rem('margin-bottom', $global-padding);

	.col-sm-12 + .col-sm-12 {
		margin-top: $global-padding;

		@include media-query (md) { margin-top: 0; }
	}

	.form-control {
		height: auto;

		input { @include rem('padding', 5px 12px 4px); }
	}

	.row {
		margin-left: -7.5px;
		margin-right: -7.5px;
		margin-bottom: 0;

		[class^="col-"], [class*=" col-"] {
			padding-right: 7.5px;
			padding-left: 7.5px;
		}
	}
}
