.filters {
	@include rem('margin-bottom', 15px);

	.col-sm-12 + .col-sm-12 {
		margin-top: 12px;

		@include media-query (md) { margin-top: 0; }
	}

	.form-control {
		height: auto;

		input { @include rem('padding', 5px 12px 4px); }
	}
}
