nav.home-links {
	position: absolute;
	right: 20px;
	top: 12px;
	display: none;

	ul {
		list-style-type: none;

		li {
			margin-left: 20px;
			float: left;
		}
	}
	
	@include media-query (sm) { display: block; }
}

