.page-header {
	@include font-size(14px);
	margin-top: 0;
	margin-bottom: $base-vertical-pad;
	padding: 0;
	border: none;

//	@include media-query (md) { margin: 0; }

	.chat {
		@include rem('margin', 8px 0 0 0);

		@include media-query (sm) {
			text-align: right;
		}
	}

	.change-log {
		@include rem('margin', 20px 0);
	}
}
