.not-pinned {
	color: $brand-gray;
	@include opacity(.5);
}

.pinned {
	color: $brand-gray;
	@include opacity(1);
}

.pin {
	&:hover {
		@include opacity(1);
	}
}

.handpicked {
	color: #078700;
	text-transform: small-caps;
}
