.section-icon {
	position: absolute;
	left: -20px;
	bottom: -20px;
	width: 40px;
	height: 40px;
	color: #0085CF;
	border: 5px solid #6DC2F2;
	@include border-radius(50%);
	text-align: center;
	line-height: 1.7;
	@include font-size(24px);
	background: #fff;
}
