.severity { i, span { float: left; } }

.severity { .link { float: right; } }

.icon-severity {
	width: 32px;
	height: 32px;
	margin-left: 15px;
	color: $brand-gray;
	text-align: center;
	@include font-size(22px, 31px);
	font-weight: 3200;
	font-style: normal;
	border: 2px solid $red;
	@include border-radius(50%);
	@include transition(.2s);

	&.level2 { border-color: #F2AA1D; }
	&.level3 { border-color: #04A7E0; }
	&.level4 { border-color: #78848C; }

	@media screen and (max-width: 991px) and (min-width: 768px)
	{
	    margin-left: 0px;
	}
	@media screen and (max-width: 415px)
	{
	    margin-left: 7px;
	}
}

.block-icon .icon-severity {
    margin-left: 0;
    margin-right: 5px;
}

.icon-severity {

	.list-item:hover &, &:hover {
		background: $red;
		color: #fff;

		&.level2 { background: #F2AA1D; }
		&.level3 { background: #04A7E0; }
		&.level4 { background: #78848C; }
	}
}

.severity-time-description {
	margin-top: 5px;
	margin-bottom: 5px;
}

.severity-select-name {
	margin-top: 5px;
	margin-bottom: 5px;
	font-weight: bold;
	margin-left: 15px;
	@media screen and (max-width: 991px) and (min-width: 768px)
	{
	    margin-left: 0px;
	}
	@media screen and (max-width: 415px)
	{
	    margin-left: 7px;
	}
}

.severity-details-link {
	margin-top: 5px;
	margin-bottom: 5px;
}
