.icon-severity {
	position: absolute;
	top: 0;
	left: 0;
	width: 32px;
	height: 32px;
	color: $brand-gray;
	text-align: center;
	@include font-size(22px, 31px);
	font-weight: 3200;
	font-style: normal;
	border: 2px solid $red;
	@include border-radius(50%);
	@include transition(.2s);

	&.level2 { border-color: #F2AA1D; }
	&.level3 { border-color: #04A7E0; }
	&.level4 { border-color: #78848C; }
}

.icon-severity {

	.list-item:hover &, &:hover {
		background: $red;
		color: #fff;

		&.level2 { background: #F2AA1D; }
		&.level3 { background: #04A7E0; }
		&.level4 { background: #78848C; }
	}
}
