$case-border: $border-gray;


.table-list {
	@include rem('margin', 15px 0);
	@include font-size(14px);
	line-height: 1;
	border-top: 1px solid $border-gray;

	h1,
	h2,
	h3 {
		@include rem('margin', 0 0 4px);
		line-height: 1;
	}

	.list-item {
		@extend %clearfix;
		@include rem('padding-top', 15px);
		@include rem('padding-bottom', 15px);
		border-bottom: 1px solid $border-gray;

		&.no-border { border: none; }
	}

	.change-log {
		text-align: right;

		a { color: $blue; }
		&.item-group { margin-bottom: 0; }
	}

	.light { color: #8c8c8c; }

	.item-group {
		margin-bottom: 20px;

		@include media-query (md) { margin-bottom: 0; }
	}

	.item-group-small { @include font-size(13px); }


	// Icon block - use this to pad a cell and absolute position an icon
	//==================================================================*/
	.block-icon {
		position: relative;
		@include rem('padding-left', 66px);

		.icon {
			position: absolute;
			left: 0;
			top: 0;
			@include font-size(44px);
			line-height: 1;
		}
	}

	.actions {
		@include media-query (sm) { text-align: right; }
	}
}