/* Partner Escalation Form" */
/*#partner-case-escalation label.checkbox { margin-top: 2em; }*/
#rha-partner-case-escalation textarea { height: 8em;}
.form-horizontal .control-checkbox { margin-left: 180px; }
.form-horizontal .control-checkbox label { text-align: left; float: none; width: auto; }
.form-horizontal .control-checkbox input[type="radio"],
.form-horizontal .control-checkbox input[type="checkbox"] { margin-top: 0; }
#rha-partner-case-escalation.form-horizontal .help-block {color: #8c8c8c; font-size: 0.846em; }

#rha-partner-case-escalation { margin-top: 2em; margin-bottom: 2em;}
#rha-partner-case-escalation fieldset { }
#rha-partner-case-escalation .number {
    position: relative;
    display: block;
    margin: 0 0 -40px -60px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    background: #ccc;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
#rha-partner-case-escalation fieldset:hover .number { background-color: #06c; }
