<!DOCTYPE html>
<div id="redhat-access-escalations" class="container-offset">
<div rha-header="" page="escalationView"/>
<h1>{{'Priority Customer Support Routing'|translate}}</h1>
<span>{{'Red Hat Global Support Services (GSS) and Red Hat Global Partner Enablement have  established Partner Escalation to enable our strategic partners to escalate unresolved or mission critical customer support cases to GSS leadership. This process will help you and Red Hat to better manage your customers issues and provide a process for driving these issues to resolution.'|translate}}</span>
<p>{{'Once your request is submitted, a partner escalation case will be opened with GSS and the GSS leadership team will be notified. You will then receive an email at the email address provided below with the partner escalation case number and additional information on how to track progress.'|translate}}</p>

<p>Please <a target="_blank" href="https://access.redhat.com/site/articles/546553">click here</a> for more information.</p><p>{{'Please provide as much information as possible in the form.'|translate}}</p> <span id="requireFieldInfo"><p> <b>* {{'marked fields are mandatory fields.'|translate}} </b></p></span>

	
<form id="rha-partner-case-escalation" class="form-horizontal" enctype="application/x-www-form-urlencoded">	
	<div class="row ng-scope" ng-controller = 'PartnerEscalation' id="rha-escalation">
		<div class="col-md-7 col-md-offset-1 push-bottom">
			<fieldset>
				<legend><span class="number">1</span>{{'Requestor'|translate}}</legend>
	    			
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-requestor-email">{{'Your Email Address'|translate}}</label>
	    				<div class="col-sm-7">
		    				<input id="rha-requestor-email" ng-model='EscalationRequestService.requestorEmail' class="form-control nonEmpty" type="text">
							<span class="help-block">{{'This should be the email address associated with your Red Hat Customer Portal or Partner Center login'|translate}}
							</span>
						</div>							 
	    			</div>
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-requestor-phone">{{'Your Phone Number'|translate}}</label>
	    				<div class="col-sm-7">
	    					<input id="rha-requestor-phone" ng-model='EscalationRequestService.requestorPhone' class="form-control nonEmpty" type="text">
	    				</div>
	    			</div>

			</fieldset>
		</div>

		<div class="col-md-7 col-md-offset-1 push-bottom">
			<fieldset>
				<legend><span class="number">2</span>{{'Customer'|translate}}</legend>

	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-account-number">{{'Customer Account Number *'|translate}}</label>
						<div class="col-sm-7">
		    				<input id="rha-account-number" ng-model='EscalationRequestService.accountNumber' class="form-control nonEmpty" type="text" ng-change="mandatoryFieldCheck()">
							<span class="help-block">{{'Please request the account number from 
							the customer if possible, otherwise use your Red Hat account number.  
							The account number can be found by clicking on the username in the top 
							right corner of this page.'|translate}}</span>
						</div>
	    			</div>
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-customer-name">{{'Customer Contact Name'|translate}}</label>
	    				<div class="col-sm-7">
	    					<input id="rha-customer-name" class="form-control nonEmpty" ng-model='EscalationRequestService.customerName' type="text">
	    				</div>
	    			</div>

	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-customer-contact-email">{{'Customer Contact Email'|translate}}</label>
	    				<div class="col-sm-7">
	    					<input id="rha-customer-contact-email" ng-model='EscalationRequestService.customerEmail' class="form-control nonEmpty" type="text">
	    				</div>
	    			</div>
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-customer-contact-phone-number">{{'Customer Contact Number'|translate}}</label>
	    				<div class="col-sm-7">
	    					<input id="rha-customer-contact-phone-number" ng-model='EscalationRequestService.customerPhone' class="form-control nonEmpty" type="text">
							<span class="help-block">{{'For example: 1-888-467-3342'|translate}}</span>
						</div>
	    			</div>
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-geo">{{'Customer GEO *'|translate}}</label>
	    				<div class="col-sm-7">
	    					<select id="rha-geo" class="productSelect nonEmpty"
	    					ng-options='geo for geo in geoList' ng-model="EscalationRequestService.geo" ng-change="mandatoryFieldCheck()">
							</select>
							<span class="help-block">NA-North America, EMEA-Europe,the Middle East and Africa, LATAM-Latin America, APAC-Asia Pacific</span>
						</div>
	    			</div>

			</fieldset>
		</div>

		<div class="col-md-7 col-md-offset-1 push-bottom">
			<fieldset>
				<legend><span class="number">3</span>{{'Case Information'|translate}}</legend>
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-case-number">{{'Red Hat Support Ticket Number *'|translate}}</label>
	    				<div class="col-sm-7"> 
		    				<input id="rha-case-number" ng-model='EscalationRequestService.caseNumber' class="form-control nonEmpty" type="text" ng-change="mandatoryFieldCheck()">
							<span class="help-block">{{'This is your 8 digit Red Hat Support ticket number'|translate}}</span>
						</div>
	    			</div>

	    			<div class="form-group">
						<label class="col-sm-5 control-label" for="rha-already-escalated">{{'Already Escalated?'|translate}}</label>
						<div class="col-sm-7">
							<input id="rha-already-escalated" name="AlreadyEscalated" class="nonEmpty" ng-model='EscalationRequestService.alreadyEscalated' type="checkbox">
	    				</div>	    				
					</div>
					<div class="clear"></div>
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-issue-description">{{'Issue Description *'|translate}}</label>
	    				<div class="col-sm-7">
	    					<textarea ng-model='EscalationRequestService.issueDescription' id="rha-issue-description" class="form-control nonEmpty" ng-change="mandatoryFieldCheck()"></textarea>
	    					<span class="help-block">{{'Please provide as much detail as possible to help us understand the issue, for example:Reason for the escalation, the business context, the competitive situation, past support experience'|translate}}</span>
	    				</div>
	    			</div>
	    			<div class="form-group">
	    				<label class="col-sm-5 control-label" for="rha-expectations">{{'Expectation'|translate}}</label>
	    				<div class="col-sm-7">
	    					<textarea ng-model='EscalationRequestService.expectations' id="rha-expectations" class="form-control nonEmpty"></textarea>
	    					<span class="help-block">{{'Please provide expectations and desired outcomes from yourself and from the customer'|translate}}</span>
	    				</div>
	    			</div>
	    			
			</fieldset>
		</div>

		<div class="clear"></div>
		<div class="col-md-7 col-md-offset-1 push-bottom">
			<input id="sendRequest" value="Send Request" class="btn btn-primary" ng-click="submitEscalationRequest()" ng-disabled="disableSendRequest">
		</div>	
	</div>
</form>
</div>
						