<div class="modal-header" id="rha-login-modal-header">
    <h3 translate>
        Sign into the Red Hat Customer Portal
    </h3>
</div>
<div class="container-fluid">
    <form ng-submit="modalOptions.ok()">
        <div class="modal-body form-horizontal" id="rha-login-modal-body">
            <!--form ng-submit="modalOptions.ok()"  method="post"-->
            <div class="form-group" ng-show='useVerboseLoginView'>
            {{'Red Hat Access makes it easy for you to self-solve issues, diagnose problems, and engage with us via the Red Hat Customer Portal. To access Red Hat Customer Portal resources, you must enter valid portal credentials.'|translate}}
            </div>

            <div class="alert alert-danger" ng-show="authError">
                {{authError}}
            </div>
            <div class="form-group" id="rha-login-modal-user-id">
                <label for="rha-login-user-id" class=" control-label" translate>Red Hat Login</label>
                <div>
                    <input type="text" class="form-control" id="rha-login-user-id" placeholder="{{'Red Hat Login'|translate}}"  ng-model="user.user" required autofocus>
                </div>
            </div>
            <div class="form-group" id="rha-login-modal-user-pass">
                <label for="rha-login-password" class="control-label" translate>Password</label>
                <div>
                    <input type="password" class="form-control" id="rha-login-password" placeholder="{{'Password'|translate}}" ng-model="user.password" required>
                </div>
            </div>
            <div class="form-group" style="font-size:smaller" ng-show='useVerboseLoginView'>
                <strong>{{'Note:'|translate}}
                    &nbsp;</strong>{{'Red Hat Customer Portal credentials differ from the credentials used to log into this product.'|translate}}
            </div>

        </div>
        <div class="modal-footer">
            <div class="form-group" id="rha-login-modal-buttons">
                <span class="pull-right">
                    <button class="btn  btn-md cancel" ng-click="modalOptions.close()" type="submit" translate>Cancel</button>
                    <button class="btn btn-primary btn-md login" type="submit" translate ng-disabled="status.authenticating">Sign in</button>
                </span>
            </div>
        </div>
    </form>
</div>
