<div ng-controller = 'SecurityController' ng-show="displayLoginStatus()">
	<div class="row">
		<div class="col-sm-12">
			<span ng-show="securityService.loginStatus.isLoggedIn" class="pull-right rha-logged-in"> {{'Logged into the Red Hat Customer Portal as'|translate}} {{securityService.loginStatus.authedUser.loggedInUser}} &nbsp;|&nbsp;
			    <span ng-if="securityService.logoutURL.length === 0" ng-show="!securityService.loginStatus.verifying">
			        <a href="" ng-click="securityService.logout()"> {{'Log Out'|translate}}</a>
			    </span>
			    <span ng-if="securityService.logoutURL.length > 0" ng-show="!securityService.loginStatus.verifying">
			        <a href="{{securityService.logoutURL}}"> {{'Log Out'|translate}}</a>
			    </span>
			    <span ng-show="securityService.loginStatus.verifying" >
			         {{'Log Out'|translate}}
			    </span>
			</span>
			<span ng-show="!securityService.loginStatus.isLoggedIn" class="pull-right rha-logged-out"> {{'Not Logged into the Red Hat Customer Portal'|translate}}&nbsp;|&nbsp;
			    <span ng-if="securityService.loginURL.length === 0" ng-show="!securityService.loginStatus.verifying">
			        <a href="" ng-click="securityService.login()"> {{'Log In'|translate}}</a>
			    </span>
			    <span ng-if="securityService.loginURL.length > 0" ng-show="!securityService.loginStatus.verifying">
			        <a href="{{securityService.loginURL}}"> {{'Log In'|translate}}</a>
			    </span>
			    <span ng-show="securityService.loginStatus.verifying">
			        {{'Log In'|translate}}
			    </span>
			</span>
		</div>
	</div>
</div>
