th {
    font-weight: normal;
    color: #777;
}

.details-table > tbody > tr > th,
.details-table > tbody > tr > td {
    padding: 8px 0;
    border-top: none;
}

.section-header {
    padding: 0;
    border-bottom: solid 1px;
    border-color: grey;
}

.container-fluid {
    /*padding: 0 15px;*/
}

.comment-creator {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.create-field {
    padding-bottom: 8px;
}

.bottom-border {
    margin-bottom: 14px;
    padding-bottom: 7px;
    border-bottom: 1px solid #cccccc;
}

.create-case-section {
    padding: 10px 0;
}

.col-no-padding {
    padding-left: 0px;
    padding-right: 0px;
}

.details-table-header {
    width: 40%;
}

.side-padding {
    padding-left: 15px;
    padding-right: 15px;
}

.select-feedback {
    left: -34px !important;
    top: 0px !important;
}

div#redhat-access-case .has-feedback .form-control-feedback {
    right: 10px;
    top: 0px;
}

div#redhat-access-case .form-group {
    margin-bottom: 0px;
}

div#redhat-access-case .table > tbody > tr > th {
    vertical-align: middle;
}

div#redhat-access-case .glyphicon-asterisk {
    color: #428bca;
}

div#redhat-access-case a {
    cursor: pointer;
}

div#redhat-access-case div .panel-body {
    overflow: auto !important;
}

.rha-hidden {
    display: none;
}

.container-offset {
    padding: 0 15px;
}

div#rha-case-details .table {
    margin-bottom: 0px;
}

div.server-attach-header{
   font-weight: bold;
   margin-bottom: 5px;
}

div#redhat-access-compact-list .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top: none;
}

div#redhat-access-compact-list .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

div#redhat-access-compact-list .list-group-item {
    border-right: none;
}

div#rha-case-search-result .detail-name {
    color: #999;
}

div#rha-case-search-result .detail-value {

}

div#rha-case-search-result .status {
    font-weight: bold;
}

div#rha-case-search-result .redhat {
    color: #7ab800
}

div#rha-case-search-result .customer {
    color: #c00;
}

div#rha-case-search-result .closed {
    color: #666;
}

div#rha-case-search label {
    font-weight: normal;
    color: #999;
}

div#rha-case-search-result .comment-tip {
    position: absolute;
    left: 40px;
    bottom: 0px;
    display: block;
    width: 17px;
    height: 42px;
    clip: rect(21px, 17px, 42px, 0px);
    background: url(../img/g_comment-tip.png) no-repeat 0 0;
}

div#rha-case-search-result .well {
    border: 1px solid #ccc;
    background-color: #efefef;
}

div#rha-case-search-result .comment-user {
    position: absolute;
    left: 70px;
    bottom: -32px;
    padding-left: 40px;
}

div#rha-case-search-result .comment-user div {
    position: static;
    display: block;
}

div#rha-case-search-result .avatar {
    position: absolute;
    left: 0;
    top: 1px;
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    overflow: hidden;
    background: url(../img/g_comment-avatar.png) no-repeat 0 0;
}
div#rha-select-loading-indicator .bootstrap {
    height: 34px;
}
div#rha-select-loading-indicator .select2 {
    height: 26px;
}
div#rha-case-search-result .hascomment {
    padding-bottom: 40px;
}

div#rha-case-search-result .hover:hover {
    background-color: #f5f5f5;
}

.select2-search-choice-close {
    display: block !important;
    top: 6px !important;
}

.select2-disabled {
    background: white !important;
    color: #cccccc;
}

.pagination {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

div#rha-create-group-modal label {
    font-weight: normal;
}

div#rha-recommendation-section .not-pinned {
    background: url(../img/bg-recommendations.png) no-repeat 0 0;
    height: 16px;
    width: 15px;
    display: block;
}

div#rha-recommendation-section .pinned {
    background: url(../img/bg-recommendations.png) no-repeat 0 0;
    height: 16px;
    width: 30px;
    display: block;
    position: absolute;
    top: 0px;
    left: -16px;
    overflow: hidden;
    clip: rect(0px, 30px, 16px, 15px);
}

.rha-search-spinner-sm {
    padding: 1px 1px 1px 1px;
    background-image: url("../img/throbber_dickie_small.gif");
    background-repeat: no-repeat;
    display:inline-block;
    width:11px; 
    height:11px;
}
