div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-family: Tahoma;
  font-size:13px;
  color: #555;
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

div[data-tree-model] li .expanded {
  padding: 1px 10px;
  background-image: url("../img/folder.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
  padding: 1px 10px;
  background-image: url("../img/folder-closed.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
  padding: 1px 10px;
  background-image: url("../img/file.png");
  background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
  cursor: pointer;
}

div[data-tree-model] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}

#log_view_main {
	height: 100%;
/*	background: #eee;*/
}

#right-side {
	height: 90%;
	overflow: scroll;
}

#right {
	height: 100%;
	overflow: hidden;
}

.left {
	float: left;
	width: 15px;
/* 	background: #eee; */
	height: 100%;
	display: none;
}

.left.showMe {
	display: block;
}

.demo-left {
	float: left;
	width: 275px;
/* 	background: #eee; */
	height: 100%;
	display: block;
}

.demo-left.showMe {
	display: none;
}

/* .demo-right { */
/* 	background: #eee; */
/* } */

.custom-glyphicon-left {
/* 	font-size: 30px; */
	top: 50%;
	position: absolute;
	margin-top: -7px;
	text-align: right;
	left: 254px;
}

.custom-glyphicon-right {
/* 	font-size: 30px; */
	top: 50%;
	position: absolute;
	margin-top: -7px;
}

}
#height {
	height: 100%;
}

.height {
	height: 100%;
}

.tab-content {
	height: 100%;
}

.tab-pane {
	height: 90%;
}

.panel-body {
	z-index: -1;
}

#diagnoseButton {
	float: right;
}

.height-width {
	width: 100%;
	height: 100%;
}

.panel-body {
	overflow: scroll;
}

.collapsable {
	display: inline-block;
	overflow: hidden;
	height: 100%;
	width: 100%;
	transition: height 1s;
	-webkit-transition: height 1s;
	-moz-transition: height 1s;
	-o-transition: height 1s;
	transition: height 1s;
}

.collapsable.showMe {
	width: 100%;
}

.demo-right {
	display: none;
}

.demo-right.showMe {
	display: block;
	padding: 30px;
}

.main-right {
	width: 100%;	
	float: left;
	padding: 0 15px 0 0;
}

.main-right.showMe {
	width: 50%;
	float: left;
	padding: 0 0 0 0;
}

.controller-demo {
/* 	margin-left: 97%; */
	float: right;
	width: 50%;
	height: 100%;
	display: none;
}

.controller-demo.showMe {
	display: block
}
.collapser{
	float: right;
	width: 15px;
	height: 100%;
	display: block;
}
.collapser.showMe{
	display: none;
}

.bigger-button {
	top: 50%;
	position: absolute;
/* 	float: left; */
}