.col-fluid {
    position: relative;
    min-height: 1px;
    overflow: auto;
}

.nav-side-bar {
	display: block;
}

.nav-side-bar.showMe {
	width: 15px;
	padding-left: 0px;
}
.hideable-side-bar {
	display: block;
}

.hideable-side-bar.showMe {
	display: none;
}

.solutions{
	width:15px;
	padding-right: 0px;
	/*border: 1px solid #dddddd;
	border-radius: 4px;*/
}

.solutions.showMe{
	width:50%;
	display: block;

}

.left-side-glyphicon {
	position: absolute;
	top: 50%;
	left: 100%;
	margin-top: -7px;
	margin-left: -15px;
}
.left-side-glyphicon.showMe {
	-webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}

#diagnoseButton {
	float: right;
}

.panel-body {
	overflow: auto;
}

.right-side-glyphicon{
	top: 50%;
	position: absolute;
	right: 100%;
	margin-top: -7px;
	margin-right: -15px;
	display: block;
}
.right-side-glyphicon.showMe{
	-webkit-transform:scaleX(-1);
    -moz-transform:scaleX(-1);
    -ms-transform:scaleX(-1);
    -o-transform:scaleX(-1);
    transform:scaleX(-1);
}

.fileList {
	overflow:auto;
	padding-right: 0px;
}
.no-line-wrap {
	word-wrap: normal;
	white-space: pre;
	overflow:auto;
}
.resizeable-solution-view {
	display: none;
	overflow:auto;
	padding: 15px 30px 15px 15px
}
.resizeable-solution-view.showMe {
	display: block;
}

.btn-group{
	display: block;
}

.btn-group.hideMe{
	display: none;
}

.dropdown-toggle{
	border-radius: 3px!important;
	float: none !important; 
}

.machines-spinner {
	display: none;
}

.machines-spinner.showMe {
	display: block;
}
.tabs-spinner {
	display: none;
}

.tabs-spinner.showMe {
	display: inline-block;
}