div#outageHead(ng-show='(!securityService.loginStatus.userAllowedToManageCases || HeaderService.showPartnerEscalationError) && !COMMON_CONFIG.isGS4')
	div#errornoDirectSupport403
		h1(translate='') Support Subscription Required
		p(translate='') The credentials you provided are valid, but you do not have <b>direct support from Red Hat.</b>
		p(translate='') If you believe you should have permission to view this resource, please <a href="/support/contact/customerService.html">contact Customer Service</a> for assistance. Your Red Hat login might not be associated with the right account for your organization, or there might be an issue with your subscription. Either way, Customer Service should be able to help you resolve the problem.
	