div(ng-show='HeaderService.pageLoadFailure && securityService.loginStatus.userAllowedToManageCases && !COMMON_CONFIG.isGS4')
	pre.console 
		|     d8888   .d8888b.      d8888  
		|    d8P888  d88P  Y88b    d8P888  
		|   d8P 888  888    888   d8P 888  
		|  d8P  888  888    888  d8P  888  
		| d88   888  888    888 d88   888  
		| 8888888888 888    888 8888888888 
		|       888  Y88b  d88P       888  
		|       888   "Y8888P"        888  
		<br />
		<br />
		span.console-error(translate='') Not Found
		p(translate='') The page you are looking for is not here. It might have been moved, removed, or had its name and address changed. It might otherwise be temporarily unavailable for technical reasons.
