<div class="rha-page-header">
    <div class="row" style='margin-bottom: 0px;'>
        <div class="col-xs-12">
            <div rha-titletemplate page="{{page}}"/>
        </div>
    </div>
    <div class="row" style='margin-bottom: 0px;'>
        <div class="col-xs-12">
            <div rha-loginstatus />
        </div>
    </div>
    <div class="rha-bottom-border" style='margin-bottom: 0px;'/>
    <div class="row" style='margin-bottom: 0px;' ng-controller='HeaderController'>
        <div ng-show='!HeaderService.sfdcIsHealthy' ng-bind-html='parseSfdcOutageHtml()'/>
        <div class="col-xs-12" ng-show='HeaderService.sfdcIsHealthy'>
            <div rha-alert />
        </div>
    </div>
</div>
