.alert.alert-sticky.survey(ng-click="HeaderService.showSurvey = !HeaderService.showSurvey")
  i.icon-innov-prev
  span.msg(ng-class="{'active' : HeaderService.showSurvey}") Let us know what you think of our new case experience by taking a &nbsp;
    a(href="https://access.redhat.com/eform/submit/what-do-you-think-case-managemen", target='_blank') short survey.
div(rha-403error='')
div(rha-404error='')
div(ng-show='HeaderService.sfdcIsHealthy')
div(rha-alert='')
div(ng-hide='failedToLoadCase || !securityService.loginStatus.userAllowedToManageCases')
  .spinner.spinner-inline(ng-show='pageLoading')
div.page-header(ng-hide='HeaderService.pageLoadFailure || !securityService.loginStatus.userAllowedToManageCases')
  div(ng-hide='page ===""', rha-titletemplate='', page="{{page}}")
  div(ng-show='page === "caseView"') Filed on&nbsp;
  div(ng-show='securityService.loginStatus.isLoggedIn && securityService.loginStatus.authedUser.has_chat && CaseService.sfdcIsHealthy', rha-chatbutton='')
div(rha-loginstatus='')
div(ng-show='!HeaderService.sfdcIsHealthy', ng-bind-html='parseSfdcOutageHtml()')
