<li>
    <div>
        <span class="icon" ng-class="{collapsed: choice.collapsed, expanded: !choice.collapsed}" ng-show="choice.children.length > 0" ng-click="choice.collapsed = !choice.collapsed">
        </span>
        <span class="label" ng-if="choice.children.length > 0" ng-class="folder">{{choice.name}}
        </span>
        <span class="label" ng-if="choice.children.length === 0"  ng-click="choiceClicked(choice)">
            <input type="checkbox" ng-checked="choice.checked">{{choice.name}}
        </span>
    </div>
</li>