.container-fluid.rha-side-padding
    div(rha-header='', title='Search')
    .row(rha-searchform='', ng-controller='SearchController')
    div(style='padding-top: 10px;')
    .row
        .container(rha-accordionsearchresults='', ng-controller='SearchController')
