<div class="col-sm-6">
	<form role="form" id="rh-search">
        <div class="input-group" ng-class="{searchInProgress.value}">
            <input type="text" class="form-control" id="rhSearchStr" name="searchString" ng-model="searchStr" class="input-xxlarge" placeholder="{{'Search Articles and Solutions'|translate}}">
            <span class="input-group-btn">
                <button ng-disabled="(searchStr === undefined || searchStr.trim()==='' || searchInProgress.value === true)" class="btn btn-default btn-primary" type='submit' ng-click="search(searchStr)">
                    <i class="glyphicon glyphicon-search "></i>
                    {{'Search'|translate}}</button>
            </span>
        </div>
	</form>
</div>
<div class="col-sm-1">
	<div ng-show="searchInProgress.value">
		<span class="rha-search-spinner">
			&nbsp;
		</span>
	</div>
</div>