.container-fluid.rha-side-padding(ng-controller='SearchController')
    div(rha-header='', page='search')
    .row(rha-searchform='')
    div(style='padding-top: 10px;')
    .row(rha-listsearchresults='', ng-controller='SearchController')

