section.case-details
  h3.section-title.accountinfoheader.pre-wrap(translate,translate-comment="Noun") Account Information
  .spinner.spinner-inline(ng-show='AccountService.accountDetailsLoading')
  section.config-options-no-mar(ng-show='!AccountService.accountDetailsLoading')
    .row.row-very-short
      .col-md-2
        strong {{'# of Open Cases'|translate}}
      .col-md-10
        span {{AccountService.account.resource.openCaseCount}}
    .row.row-very-short
      .col-md-2
        strong {{'TAM'|translate}}
      .col-md-10
        span(ng-repeat="tam in AccountService.account.TAM_names") {{tam}}
    .row.row-very-short
      .col-md-2
        strong {{'Business Hours'|translate}}
      .col-md-10
        a(data-tooltip-html-unsafe="{{AccountService.account.resource.businessHours.resource.businessHoursTooltip}}" data-tooltip-placement="bottom") {{AccountService.account.resource.businessHours.resource.name}}
    .row.row-very-short
      .col-md-2
        strong {{'Account Notes'|translate}}
      .col-md-10
        span {{getAccountNotesText();}}

    //- .row.row-very-short
    //-   .col-xs-4.col-sm-6.col-md-2
    //-     strong {{'Account Name'|translate}}
    //-   .col-xs-6.col-sm-6.col-md-10
    //-     span {{AccountService.account.resource.accountName}}
    

    