section.nep
   .spinner.spinner-inline(ng-show='CaseDetailsService.caseDetailsLoading')
   h3.section-title(ng-show='!CaseDetailsService.caseDetailsLoading') {{getBreachInformationText()}}
   h4.breach-information {{'Negotiated Entitlement Process'|translate}}
     section.config-options
      .row.row-short
        .col-xs-4.col-sm-6.col-md-4
          strong {{'Active'|translate}}
        .col-xs-6.col-sm-6.col-md-8
          span {{CaseDetailsService.kase.negotiatedEntitlement.active_flag}}
      .row.row-short
        .col-xs-4.col-sm-6.col-md-4
          strong {{'Life of Case'|translate}}
        .col-xs-6.col-sm-6.col-md-8
          span {{CaseDetailsService.kase.negotiatedEntitlement.life_Case_flag}}
      .row.row-short
        .col-xs-4.col-sm-6.col-md-4
          strong {{'Start Time'|translate}}
        .col-xs-6.col-sm-6.col-md-8
          span {{CaseDetailsService.kase.negotiatedEntitlement.format_start_time}}
      .row.row-short
        .col-xs-4.col-sm-6.col-md-4
          strong {{'Target Date'|translate}}
        .col-xs-6.col-sm-6.col-md-8
          span {{CaseDetailsService.kase.negotiatedEntitlement.format_target_date}}
      .row.row-short
        .col-xs-4.col-sm-6.col-md-4
          strong {{'Violates SLA'|translate}}
        .col-xs-6.col-sm-6.col-md-8
          span {{CaseDetailsService.kase.negotiatedEntitlement.violates_sla_flag}}
