section.case-details
    h3.case-name.pre-wrap Case Detail
    .spinner.spinner-inline(ng-show='CaseDetailsService.caseDetailsLoading')
    section.config-options(ng-show='!CaseDetailsService.caseDetailsLoading')
        .row.row-short
          .col-md-2
            .label {{'Status'|translate}}
          .col-md-4
            span {{CaseDetailsService.kase.status}}
          .col-md-2
            .label {{'Product'|translate}}
          .col-md-4
            span {{CaseDetailsService.kase.product}}
        .row.row-short
          .col-md-2
            .label {{'Internal Status'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.internal_priority}}
          .col-md-2
            .label {{'Version'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.version}}
        .row.row-short
          .col-md-2
             .label {{'SBR Group'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.sbr_group}}
          .col-md-2
             .label {{'Severity'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.severity}}
        .row.row-short
          .col-md-2
             .label {{'Created By'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.created_by}}
          .col-md-2
             .label {{'Internal Priority'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.internal_priority}}
        .row.row-short
          .col-md-2
             .label {{'Last Updated By'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.last_modified_by}}
          .col-md-2
             .label {{'Case Type'|translate}}
          .col-md-4
              span {{CaseDetailsService.kase.type}}

