section.case-flags
    .row
        .col-sm-10
            a.btn.btn-danger.btn-sm() {{'24x7 coverage'|translate}}
            &nbsp;
            a.btn.btn-danger.btn-sm() {{'Severity 1 (High)'|translate}}
            &nbsp;
            a.btn.btn-danger.btn-sm() {{'Strategic'|translate}}

