section.case-description-ascension
	h3.section-title.casedescriptionsheader.pre-wrapCase  {{'PROBLEM STATEMENT'|translate}}
	.spinner.spinner-inline(ng-show='CaseDetailsService.caseDetailsLoading')
	h4(ng-show='!CaseDetailsService.caseDetailsLoading') {{CaseDetailsService.kase.description}}

