section.case-description-ascension
    h3.section-title(translate,translate-comment="Noun") {{'Case Summary' |translate}}
    .spinner.spinner-inline(ng-show='CaseDetailsService.caseDetailsLoading')
    .div(ng-show='!CaseDetailsService.caseDetailsLoading && CaseDetailsService.kase.summary !== undefined')
        .div
            span(translate) Last Modified by {{CaseDetailsService.kase.summary.lastModifiedBy}} on {{CaseDetailsService.kase.summary.lastModified}}
        .div.light
            span {{CaseDetailsService.kase.summary.summaryText}}
