//- .page-header(rha-header='', page='')
div(rha-alert='')
.top-cases(rha-yourcases='')
.container-fluid.container-pad.watermark-special-handling.case-view
  .row
    .col-sm-12
      button.btn.btn-app.btn-sm.pull-right(ng-click='closeCase()', ng-disabled='CaseDetailsService.caseDetailsLoading || CaseDetailsService.kase.status.name === "Closed"', ng-show='!CaseDetailsService.caseClosing'){{'Close Case'|translate}}
      .spinner.spinner-inline(ng-show='CaseDetailsService.caseClosing')
  .row.row-very-short
    .col-sm-12.title
      h3.section-title.case-name.pre-wrap.inline-text(ng-hide='CaseDetailsService.caseDetailsLoading') {{'Case '|translate}} {{CaseDetailsService.kase.case_number}}: &nbsp
      span.big-title {{CaseDetailsService.kase.status.name}}
  .row.row-very-short(ng-hide='CaseDetailsService.caseDetailsLoading')
    .col-sm-12
        strong(translate,translate-comment="Noun") Problem Statement:&nbsp;
        span.pre-wrap {{CaseDetailsService.kase.description}}
  .row.row-very-short(ng-hide='CaseDetailsService.caseDetailsLoading')
    .col-sm-12
        strong(translate,translate-comment="Noun") Product:&nbsp;
        span {{CaseDetailsService.kase.product}}
  .row.row-short
    .col-sm-12
      div(rha-caseflags='')
  .row
    .col-sm-12
      ul#tab_list.nav.nav-tabs(role="tablist")
        li(ng-class='{"active": caseOverView}')
          a(ng-click='toggleCaseOverView()', data-toggle="tab") {{'Overview'|translate}}
        li(ng-class='{"active": caseSummary}')
          a(ng-click='toggleCaseSummary()', data-toggle="tab") {{'Action Plan'|translate}}
        li(ng-class='{"active": caseDiscussion}')
          a(ng-click='toggleCaseDiscussion()',  data-toggle="tab") {{'Discussion'|translate}}
        li(ng-class='{"active": linkedResources}',)
          a(ng-click='toggleLinkedResources()', data-toggle="tab") {{'Linked Resources'|translate}}
        li(ng-class='{"active": caseHistory}',)
          a(ng-click='toggleCaseHistory()', data-toggle="tab") {{'Case History'|translate}}
        li(ng-class='{"active": accountNotes}',)
          a(ng-click='toggleAccountNotes()', data-toggle="tab") {{'Account Notes'|translate}}
        li(ng-class='{"active": escalations}')
          a(ng-click='toggleEscalations()', data-toggle="tab") {{'Escalations'|translate}}
      .tab-content(ng-hide='!caseOverView')
        #pane1.tab-pane(ng-class='{"active": caseOverView}')
          .row.row-short
            .col-md-8
              //- section(rha-internalcasedescription='')
              section(rha-internalcasedetails='')
              section#entitlementinformation.entitlement-info(rha-entitlementinformation='')
              section#accountinformation.account-info(rha-accountinformation='')
            aside.aside.col-md-4
              section.section#breachinformation
                .row.breach-info
                  .col-sm-12(rha-breachstatus='')
              section.section#caseAssociates
                .row
                  .col-sm-12(rha-caseAssociates='')
      .tab-content(ng-hide='!caseDiscussion')
        #pane1.tab-pane(ng-class='{"active": caseDiscussion}')
          div(rha-internalcasediscussion='')
      .tab-content(ng-hide='!caseSummary')
        #pane1.tab-pane(ng-class='{"active": caseSummary}')
          div(rha-casesummary='')
      .tab-content(ng-hide='!caseHistory')
        #pane1.tab-pane(ng-class='{"active": caseHistory}')
          div(rha-casehistory='')
      .tab-content(ng-hide='!linkedResources')
        #pane1.tab-pane(ng-class='{"active": linkedResources}')
          div#linkedresources(rha-linkedresources='')
      .tab-content(ng-hide='!accountNotes')
        #pane1.tab-pane(ng-class='{"active": accountNotes}')
          //- div(rha-caseescalations='')
      .tab-content(ng-hide='!escalations')
        #pane1.tab-pane(ng-class='{"active": escalations}')
          div(rha-caseescalations='')
