.input-group
    input.pull-right(type="text", style='width:200px;' ng-model="caseNumber", placeholder="{{'Search Cases By Number'|translate}}")
    span.input-group-btn
        button.btn.btn-default.btn-primary(ng-click="searchCases()")
            i.glyphicon.glyphicon-search
