section.case-description
    .row.row-short
        .col-sm-6
            h3.section-title(translate,translate-comment="Noun") Linked Bugzilla Tickets
        .col-sm-6
            .pull-right
                btn.btn-app.btn-sm(ng-disabled='CaseDetailsService.caseDetailsLoading') {{'Attach Bugzilla'|translate}}
    .spinner.spinner-inline(ng-show='CaseDetailsService.caseDetailsLoading')
    section.config-options-no-mar(ng-show='!CaseDetailsService.caseDetailsLoading')
        .table-list(ng-repeat='issueLink in CaseDetailsService.kase.issueLinks')
            .row.row-very-short
                .col-sm-12
                    .div
                        strong {{'Bug'|translate}} {{issueLink.resource.issueNumber}}
                        span ({{issueLink.resource.status}})
                    .div.light {{issueLink.resource.summary}}
