.page-header(rha-header='', page='')
//-replace the ng-how wiht the security service and sfdc health check and header parameter
div(ng-show='true')
        .row
            .col-sm-12(rha-topcases='')
        section.main.col-md-9
            .row
            .row
                .col-sm-5
                    a.btn.btn-info.btn-sm(href='#/case/new'){{'Edit'|translate}}
                    &nbsp;
                    a.btn.btn-info.btn-sm(ng-click='', ng-disabled=''){{'Close'|translate}}
                    &nbsp;
                    a.btn.btn-info.btn-sm(ng-click='', ng-disabled=''){{'More'|translate}}
            .row
            div(style="margin-top:15px;", ng-show='true')
            div(rha-internalcasedescription='', loading='loading.kase')
            div
                div(rha-internalcasedetails='', compact='false', loading='loading.kase')
            section.case-discussion
                .row
                    .col-xs-12
                        div(rha-internalcasediscussion='', loading='loading.comments')
        aside.col-md-3
            .row
            section#breachinformation.breach-info(rha-breachinformation='')
            section#entitlementinformation.entitlement-info(rha-entitlementinfo='')
            section#accountinformation.account-info(rha-accountinfo='')
            section#ownerinformation.owner-info(rha-ownerinfo='')
