section.case-flags(ng-show='!CaseDetailsService.caseDetailsLoading')
  a.btn.btn-sm.btn-red(ng-show='true') {{'Severity '|translate}}{{CaseDetailsService.kase.severity.name}}
  &nbsp;
  a.btn.btn-sm.btn-red(ng-show='CaseDetailsService.kase.is_fts_case') {{'24x7 Coverage'|translate}}
  &nbsp;
  a.btn.btn-sm.btn-green(ng-show='CaseDetailsService.kase.account.special_handling_required') {{'Special Handling'|translate}}
  &nbsp;
  a.btn.btn-sm.btn-blue(ng-show='CaseDetailsService.kase.account.is_strategic') {{'Strategic'|translate}}
  &nbsp;

