.page-header(rha-header='', page='')
div(ng-show='securityService.loginStatus.isLoggedIn')
    .row
        .col-sm-12(rha-yourcases='')
    section.main.col-md-9
        .row
            .col-sm-5
                a.btn.btn-info.btn-sm(href='#/case/new'){{'Edit'|translate}}
                &nbsp;
                a.btn.btn-info.btn-sm(ng-click='', ng-disabled=''){{'Close'|translate}}
                &nbsp;
                a.btn.btn-info.btn-sm(ng-click='', ng-disabled=''){{'More'|translate}}
        .row
            ul#tab_list.nav.nav-tabs(role="tablist")
              li(ng-class='{"active": caseOverView}')
                a(ng-click='toggleCaseOverView()', data-toggle="tab") {{'Case Overview'|translate}}
              li(ng-class='{"active": caseDiscussion}')
                a(ng-click='toggleCaseDiscussion()',  data-toggle="tab") {{'Discussion'|translate}}
              li(ng-class='{"active": caseSummary}')
                a(ng-click='toggleCaseSummary()', data-toggle="tab") {{'Case Summary'|translate}}
              li(ng-class='{"active": caseHistory}',)
                a(ng-click='toggleCaseHistory()', data-toggle="tab") {{'Case History'|translate}}
              li(ng-class='{"active": bugzillas}')
                a(ng-click='toggleBugzillas()', data-toggle="tab") {{'Bugzillas'|translate}}
              li(ng-class='{"active": escalations}')
                a(ng-click='toggleEscalations()', data-toggle="tab") {{'Escalations'|translate}}
        .tab-content
          #pane1.tab-pane(ng-class='{"active": caseOverView}')
            .row
              h3.case-name.pre-wrap CASE SUBJECT/NAME
            .row
              div(rha-caseflags='')
            .row
              .col-md-5
                section#entitlementinformation.entitlement-info(rha-entitlementinformation='')
              .col-md-5
                section#accountinformation.account-info(rha-accountinformation='')
            .row
              div(rha-internalcasedetails='')
            .row
              div(rha-internalcasedescription='')
        .tab-content
          #pane1.tab-pane(ng-class='{"active": caseDiscussion}')
            .row
              div(rha-internalcasediscussion='')
        .tab-content
          #pane1.tab-pane(ng-class='{"active": caseSummary}')
            .row
              div(rha-casesummary='')
        .tab-content
          #pane1.tab-pane(ng-class='{"active": caseHistory}')
            .row
              div(rha-casehistory='')
        .tab-content
          #pane1.tab-pane(ng-class='{"active": bugzillas}')
            .row
              div(rha-casebugzillas='')
        .tab-content
          #pane1.tab-pane(ng-class='{"active": escalations}')
            .row
              div(rha-caseescalations='')
    aside.col-md-3
        .row
          section#breachinformation.breach-info(rha-breachstatus='')
        .row
          section#caseSolutions(rha-searchsolutions='')
