section.case-description
  h3.section-title.entitlementinfoheader.pre-wrap {{'Entitlement Information'|translate}}
  .spinner.spinner-inline(ng-show='CaseDetailsService.caseDetailsLoading')
  section.config-options-no-mar(ng-show='!CaseDetailsService.caseDetailsLoading')
    .row.row-very-short
      .col-xs-12
        span {{CaseDetailsService.kase.entitlement.name}}
    .row.row-very-short
      .col-xs-4.col-sm-6.col-md-4
          .label(translate,translate-comment="SBT: Service Breach Time") SBT
      .col-xs-6.col-sm-6.col-md-8
        span {{CaseDetailsService.kase.sbt}}
    .row.row-very-short
      .col-xs-4.col-sm-6.col-md-4
        .label(translate,translate-comment="Noun") Target Date
      .col-xs-6.col-sm-6.col-md-8
        span {{CaseDetailsService.kase.target_date}}
    .row.row-very-short
      .col-xs-4.col-sm-6.col-md-4
        .label(translate,translate-comment="SBT: Service Breach Time") SBT State
      .col-xs-6.col-sm-6.col-md-8
        span {{CaseDetailsService.kase.sbtState}}
