section.case-description
    h3.case-name.pre-wrap CASE SUBJECT/NAME
    .row(ng-hide='!CaseService.sfdcIsHealthy')
        .col-sm-10
            a.btn.btn-danger.btn-sm() {{'Breach'|translate}}24x7 coverage]
            &nbsp;
            a.btn.btn-danger.btn-sm(translate='', ng-click='', ng-disabled='') {{'Severity 1 (High)'|translate}}
            &nbsp;
            a.btn.btn-danger.btn-sm(translate='', ng-click='', ng-disabled='') {{'Strategic'|translate}}
    h3.case-name.pre-wrap {{'Case Description'|translate}}
    h4.case-description.pre-wrap This is a test description to test whether long feeds are accumulated in the area.

