section.case-description
    h3.case-name.pre-wrap CASE SUBJECT/NAME
    .row
        .col-sm-10
            a.btn.btn-danger.btn-sm() {{'24x7 coverage'|translate}}
            &nbsp;
            a.btn.btn-danger.btn-sm() {{'Severity 1 (High)'|translate}}
            &nbsp;
            a.btn.btn-danger.btn-sm() {{'Strategic'|translate}}
    h3.case-name.pre-wrap {{'Case Description'|translate}}
    h4.case-description.pre-wrap This is a test description to test whether long feeds are accumulated in the area.

