ul#tab_list.nav.nav-tabs(role="tablist")
  li.active
    a(ng-click='toggleDiscussion()', data-toggle="tab") {{'Discussion'|translate}}
  li
    a(ng-click='toggleAttachments()',  data-toggle="tab") {{'Action Plan'|translate}}
  li
    a(ng-click='toggleAttachments()',  data-toggle="tab") {{'Case History'|translate}}
  li
    a(ng-click='toggleAttachments()',  data-toggle="tab") {{'Bugzillas'|translate}}
  li
    a(ng-click='toggleAttachments()',  data-toggle="tab") {{'KCS'|translate}}
  li
    a(ng-click='toggleNotes()', data-toggle="tab") {{'Bomgar Chat'|translate}}

