#case-solutions
div(rha-searchstackedsolutions='')
div(ng-if='recommendations.length !== 0 && SearchService.searchedSolutions.length === 0')
  h3.section-title(translate,translate-comment="Noun") Suggested Solutions
  ul
    li.recommendation(ng-repeat='recommendation in recommendations')
      .title
        .fa.pin(
          ng-class='{"fa-thumb-tack pinned": recommendation.pinned && !recommendation.pinning, "fa-thumb-tack not-pinned": !recommendation.pinned && !recommendation.pinning, "spinner spinner-xs": recommendation.pinning}',
          ng-click='SearchService.pinSolution(recommendation)',
          style='cursor: pointer;') &nbsp;
        a(href='{{recommendation.resource_view_uri}}', target='_blank')
          strong {{recommendation.title | substring:100 }}
      div.pre-wrap(ng-bind-html='recommendation.abstract')
