nav.navbar.navbar-default.navbar-static-top
    .container-fluid
        div
            ul.nav.navbar-nav
                li.active
                    a(href='#') {{'Case'|translate}} 122333
                li
                    a() {{'Case'|translate}} 45333
                li
                    a() {{'Case'|translate}} 54321
                li
                    a() {{'Case'|translate}} 76543
                li
                    a() {{'Case'|translate}} 76543
                li
                    a() {{'Case'|translate}} 76543
                li
                    a() {{'Case'|translate}} 76543

