nav.navbar.navbar-default.navbar-static-top
    .container-fluid
        div
            ul.nav.navbar-nav
                li(ng-repeat='case in CaseDetailsService.cases',ng-show='true')
                    a(href='', ng-click='fetchCaseDetail(case.resource.caseNumber)') {{'Case'|translate}} {{case.resource.caseNumber}}

