.container-fluid
  .row
    .col-sm-12
      .spinner.spinner-inline(ng-show='CaseDetailsService.yourCasesLoading')
      nav.navbar.navbar-default.navbar-static-top(ng-show='!CaseDetailsService.yourCasesLoading')
        h2.caps Your Cases
        ul.row.nav.list-dark
          li.col-md-2(ng-repeat='case in CaseDetailsService.cases',ng-show='true')
            a(href='', ng-click='fetchCaseDetail(case.resource.caseNumber)')
              strong.caps {{'Case'|translate}} {{case.resource.caseNumber}}
              br
              | {{case.resource.internalStatus}}