article {

	.user-action {
		display: block;
		@include rem('margin-bottom', 15px);
	}

	p,
	.link,
	.user-action {
		@include rem('margin-bottom', 15px);
	}

	.article-content {  }

	.comment {
		@include font-size($comment-font-size);
		@include rem('margin-bottom', 40px);
	}
}

.avatar {
	position: absolute;
	width: 60px;
	height: 60px;
	display: block;
	@include border-radius(50%);
	border: 4px solid $gray;
	overflow: hidden;

	img {
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		height: auto;
	}
}