aside {

	section {
		@include rem('padding', $global-margin);
		background: $aside-bg;
	}

	section + section {
		margin-top: 40px;
	}

	.section-title {
		text-transform: none;
		@include font-size(18px);
		line-height: 1;
		@include rem('margin-bottom', $global-padding);

		.link {
			@include font-size(14px);
			font-weight: 500;
		}
	}

	.block {
		@include rem('margin-bottom', $global-margin);
	}

	.pagination {
		margin: 0;
	}

	ul {

	}

	li {
		@include rem('margin-bottom', $global-margin);
		@include rem('padding', 0 $global-margin);
	}

	accordion {

		.panel-group .panel {
			@include border-radius(0);
			border: none;
		}

		.panel-heading {
			padding: 0;
			background: #f0f0f0;
			border: none;
			@include border-radius(0);
			@include box-shadow(none);

			a {
				display: block;
				@include rem('padding', 10px 15px);
				color: $base_font_color;

				&:hover {
					color: $base_font_color;
				}
			}
		}
	}
}

