input,
input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: 0;
	@include box-shadow(none);
	box-shadow: none;
}

input,
select,
textarea { max-width: 100%; }

input[type="text"], textarea, .form-control {
	width: 100%;

	&:active,
	&:focus {
		border-color: $border-gray;
	}
}

.form-control {

	&::-webkit-input-placeholder,
	&:-moz-placeholder,
	&::-moz-placeholder,
	&:-ms-input-placeholder {
		@include rem('padding', 8px);
		color: $form-color;
	}
}

label { @include rem('margin-bottom', 8px); }

input.margin { margin-bottom: 20px; }

.input-group-btn .close {
	position: absolute;
	z-index: 10;
	top: 7px;
	right: auto;
	left: -30px;
	padding: 0 1px;
}

.input-group-btn .btn {
  padding-top: 9px;
  padding-bottom: 9px;
  font-size: 14px;
}

input.with-close {
	@include rem('padding-right', 40px);
}