html {
	color: $base_font_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: $header_font_color;
	line-height: 1;
}

h2 {
	@include font-size(18px);
	line-height: 1;
}

h3 {
	@include font-size(16px);
	line-height: 1;
}

h4 {
	@include font-size(14px);
	font-weight: 500;
}

.page-title {
	@include font-size(22px);
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	color: $brand-gray;
	@include rem('margin-bottom', 6px);
}