<div ng-controller = 'SecurityController'>
<span ng-show="securityService.loginStatus.isLoggedIn && !securityService.loginStatus.verifying" class="pull-right"> Logged into the Red Hat Customer Portal as {{securityService.loginStatus.loggedInUser}} &nbsp;|&nbsp;
  <a href="" ng-click="securityService.logout()"> Log out</a>
</span>
<span ng-show="!securityService.loginStatus.isLoggedIn && !securityService.loginStatus.verifying" class="pull-right"> Not Logged into the Red Hat Customer Portal&nbsp;|&nbsp;
	<a href="" ng-click="securityService.login()"> Log In</a>
</span>
<span ng-show="securityService.loginStatus.verifying" class="pull-right"> 
	 Verifying login status....
</div>
