.rha-search-spinner {
    padding: 1px 1px 1px 1px;
    background-image: url("../img/spinner.gif");
    background-repeat: no-repeat;
    display:inline-block;
    width:32px; 
    height:32px;
    margin-bottom: 5px;
}
.panel-group .panel-title>a:before {
    content: none;
}

.ml-5 {
    margin-left: 5px;
}