$case-details-margin-bottom: $global-padding;
$case-details-padding: $global-padding;

.case-description-ascension {
	position: relative;
//	overflow: hidden;
	@include rem('margin-bottom', 30px);
	@include rem('padding', 0 $case-details-padding $case-details-padding $case-details-padding);

	h1,
	h2,
	h3,
	h4 {
		margin-bottom: 0;
	}

	// .details {
	// 	@include font-size(14px, 20px);
	// 	@include rem('margin', $case-description-margin-bottom 0 0);
	// 	white-space: pre-wrap;
	// 	font-weight: 100;
	// }
}