.case-flags {
	.btn-blue{
		background-color: #228AC1;
  		border-color: #228AC1;
  		font-weight: bold;
	}
	.btn-green{
		background-color: #348E28;
  		border-color: #348E28;
  		font-weight: bold;
	}
	.btn-red{
		background-color: #B70003;
  		border-color: #B70003;
  		font-weight: bold;
	}
}


  