$top-cases-bg: #58595b;
$top-cases-link-color: #e6e7e8;


.top-cases {
	@include rem('margin-bottom', $global-padding);
	@include rem('padding-top', $global-padding);
	background: $top-cases-bg;
	@include font-size(14px);
//	@include media-query (sm) { @include rem('padding-top', 80px); }

	h1, h2, h3 {
		@include rem('margin-bottom', $global-padding);
		@include font-size(16px);
		color: #fff;
		font-weight: 700;
	}

	ul {
		border: none;
	}

	li {

	}

	li a {

	}

	nav {
		background: none;
		margin-bottom: 0;
		border-bottom: none;
	}

	a {
		background: $top-cases-link-color;
		@include transition(.3s);
	}

	li:hover a {
		background: #d9edf6;
	}
	
	.selected-case {
		background: #d9edf6;
	}

}